-if @alignment.nil?
  :javascript
    $j('#loading').css('display','none');
  %h2{:id=>"default_text", :style=>"margin-right:8px;color:#606060;font-size:14px;margin-top:14px;text-align:center;font-family: Verdana, Arial, Helvetica, sans-serif;"}
    USE THE SELECT MENU TO BROWSE PROTEIN ANNOTATIONS
-else
  %div{:id => "molTitle"}
    %b #{@alignment['uniprot']}
    %a{:target=>"_blank", :href=>"http://www.uniprot.org/uniprot/"+@alignment['uniprot']}
      <i class="fa fa-external-link-square icon-right"></i> UniProt
    \-
    %b #{@alignment['gene_symbol']} - #{@alignment['uniprotTitle']}
    %a{:target=>"_blank", :href=>"https://www.ebi.ac.uk/pdbe/pdbe-kb/proteins/"+@alignment['uniprot']}
      <i class="fa fa-external-link-square icon-right"></i> PDBe-KB
    \-
    #{@alignment['organism']}    
      
  %div{:id => "snippetDiv"}
    :javascript
      var allURL = #{@allURL};
      var asyncURL  = #{@asyncURL};
      var __external_data = {};
      var __accession = '#{@uniprotACC}';
      var __alignment =  #{@alignment.to_json};
      var extend_features_flag = true;
      var feature_analysis_flag = false;
      var url = "/cv19_annotations/" + __accession + "_annotations.json";
      var __cvData = {};

      $j.getJSON(url, function (data) {
        __cvData = data;
        console.log("->>> HAML getJSON reading __cvData from ", url);
      });
      
  :javascript
    #{@log}
