-if (@optionsArray.nil? or @optionsArray.empty?)
  -if @badName
    :javascript
      $j(document).ready(function(){
        clear_wm();
        swal({title:'Error',text:'Unknown #{@identifierType} identifier',type:'warning'},function(){
          window.location.replace("/ws/database");
        });
      });
  -elsif @notExists
    :javascript
      $j(document).ready(function(){
        clear_wm();
        swal({title:'Error',text:'#{@identifierType} entry is not available',type:'warning'},function(){
          window.location.replace("/ws/database");
        });
      });
  -else
    :javascript
      $j(document).ready(function(){
        window.location.replace("/ws");
      });

-elsif not @isAvailable 
  :javascript
    $j(document).ready(function(){
        clear_wm();
        swal({title:'Error',text:'#{@identifierType} entry is not available',type:'warning'},function(){
          window.location.replace("/ws/database");
        });
    });

-else
  -if @external_annotations
    :javascript
      top.uploaded_annotations = {result:'#{@external_annotations}'};
      top.upload_flag = true;
  #menu
    =image_tag("3dbionotes_ws_logo_no_partners.png",height:'50')
    %ul#topnav
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="/ws/home"',:style=>"cursor:pointer;font-weight:bold;"}HOME
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="/ws/submit"',:style=>"cursor:pointer;font-weight:bold;"}SUBMIT
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="/ws/network"',:style=>"cursor:pointer;font-weight:bold;"}NETWORK
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="/ws/database"',:style=>"cursor:pointer;font-weight:bold;"}QUERY
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="/ws/help"',:style=>"cursor:pointer;font-weight:bold;"}HELP
    #partners
      =image_tag("partners.png",id:'partners_logo',height:'70')
  #topFrame
    #molTitle
      #{@moleculeTitle}
    #secondForm
      = form_tag({controller: "main", action: "home"}, :method => :get,id: "selectOptionForm") do
        %h1{:style=>"display:inline;"}
          -if @identifierType=="EMDB"
            %a.nostyle.menu{:href=>"http://www.ebi.ac.uk/pdbe/entry/emdb/#{@identifierName}",:target=>"_blank",:style=>"font-family: Verdana, Arial, Helvetica, sans-serif;color:#074987;font-size:18px;"}
              =@identifierName.upcase 
          -elsif @identifierType=="PDB"
            %a.nostyle.menu{:href=>"http://www.rcsb.org/pdb/explore/explore.do?structureId=#{@identifierName}",:target=>"_blank",:style=>"font-family: Verdana, Arial, Helvetica, sans-serif;color:#074987;font-size:18px;"}
              =@identifierName.upcase
          -elsif @identifierType=="Uniprot"
            %a.nostyle.menu{:href=>"http://www.uniprot.org/uniprot/#{@identifierName}",:target=>"_blank",:style=>"font-family: Verdana, Arial, Helvetica, sans-serif;color:#074987;font-size:18px;"}
              =@identifierName.upcase
        -if @identifierType == "EMDB" or @identifierType == "PDB"
          = label_tag(:labelForm, "PROTEINS IN THIS MODEL:",:style=>"font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#606060;")
        -elsif @identifierType=="Uniprot"
          = label_tag(:labelForm, "PDB STRUCTURES:",:style=>"font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#606060;")
        = select_tag(:alignment, options_for_select(@optionsArray),:onchange=>"firstTime=getValueSelection(this,firstTime);",:title=>"Choose one of the alignments",:prompt=>"SELECT MENU",:style=>"width:300px;margin-left:10px;font-size:10px;font-family: 'Lucida Console', Monaco, monospace")
        #uniprotLogo{:style=>"display:inline;position:relative;top:5px;left:3px;"}
          =link_to(image_tag("uniprot.png",size:"18x18"),"http://www.uniprot.org/",:target=>"_blank")
        #controls
          %i{:class=>"demo-icon icon-ccw" ,:title=>"Reset view"}
            &#xe803;
          %i{:class=>"demo-icon icon-light-up" ,:title=>"Display/hide atoms of selected residues"}
            &#xe800;
          %i{:class=>"demo-icon icon-eye-off" ,:title=>"Display/hide heteroatoms"}
            &#xe805;
          -if @viewerType=="ngl" && @n_models && @n_models > 1
            %i{:class=>"demo-icon icon-left-bold" ,:title=>"Previous model"}
              &#xe802;
            %div#model_indicator{:style=>"font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#606060;display:inline-block;width:50px;text-align:center;position:relative;bottom:1px;"}
              %span#current_model
                1
              \/#{@n_models}
            %i{:class=>"demo-icon icon-right-bold" ,:title=>"Next model"}
              &#xe801;
          %i{:class=>"demo-icon icon-target" ,:title=>"Label selected annotation"}
            &#xe804;
          %i{:class=>"demo-icon icon-th-list" ,:title=>"Display selected annotations"}
            &#xe806;
          %i{:class=>"demo-icon icon-camera" ,:title=>"Save image"}
            &#xe807;
          /= image_tag("reset.gif",:onclick=>"javascript:resetEvent();",:align=>"center",:title=>"Reset view",:style=>"cursor:pointer;margin-left:0px;vertical-align:middle;")
          -if @viewerType!="ngl"
            = image_tag("zoom_out.gif",:onclick=>"javascript:zoom(0);",:align=>"center",:title=>"Zoom out",:style=>"cursor:pointer;margin-left:0px;vertical-align:middle;")
            = image_tag("zoom_in.gif",:onclick=>"javascript:zoom(1);",:align=>"center",:title=>"Zoom in",:style=>"cursor:pointer;margin-left:0px;vertical-align:middle;")
            = image_tag("sphere.gif",:onclick=>"javascript:toggleSphere();",:align=>"center",:title=>"Display/hide sphere (only selecting < 3 aa)",:class=>"hideHetero",:style=>"cursor:pointer;vertical-align:middle;")
          /= image_tag("atoms.gif",:onclick=>"javascript:addAtomsEvent(this);",:align=>"center",:title=>"Display/hide atoms of selected residues",:style=>"cursor:pointer;vertical-align:middle;")
          -if @viewerType!="ngl"
            = image_tag("neight.gif",:onclick=>"javascript:highlightNeightboursEvent();",:align=>"center",:title=>"Display/hide neighbours (10Å)",:style=>"cursor:pointer;vertical-align:middle;")
          /= image_tag("hetero.gif",:onclick=>"javascript:toggleHeteroEvent(this);",:align=>"center",:title=>"Display/hide heteroatoms",:class=>"hideHetero",:style=>"cursor:pointer;vertical-align:middle;")
          /= image_tag("screenshot.gif",:onclick=>"javascript:takeScreenshot();",:align=>"center",:title=>"Save image - It takes some time",:class=>"hideHetero",:style=>"cursor:pointer;vertical-align:middle;")
          -if @emdb!=""
            /= image_tag("volume.gif",:onclick=>"javascript:toggleVolumeEvent(this);",:align=>"center",:title=>"Display/hide volume",:class=>"hideVolume",:style=>"cursor:pointer;vertical-align:middle;")
            %i{:class=>"demo-icon icon-box hideVolume" ,:title=>"Display/hide volume"}
              &#xe808;
            -if @viewerType=="ngl"
              %input{:type=>"range",:id=>"chanceSlider",:class=>"vHorizon",:min=>0,:max=>20,:step=>0.5,:value=>5,:title=>"Change threshold"}
              %span{:id=>"chance", :title=>"Threshold value"}
                5
            -else
              %input{:type=>"range",:id=>"chanceSlider",:class=>"vHorizon",:min=>@stThr,:max=>@endThr,:step=>@step,:value=>@threshold,:style=>"width:300px;margin:5px;margin-top:10px;vertical-align:middle",:title=>"Change threshold"}
              %input{:type=>"text",:name=>"chance",:id=>"chance",:class=>"text",:value=>@threshold,:style=>"width:55px;margin:5px;vertical-align:middle",:title=>"Change threshold"}

  :javascript
    var firstTime = true;
    var alignmentTranslation;
    var uniprotLength = '#{@uniprotLength}';
    var noAlignments = #{@noAlignments};
    $j(document).ready(function(){
      $j('#chance').keypress(function(event){
        if(event.keyCode==13){
          event.preventDefault();
        }
      });
      $j('#leftBottomFrame').load(function(){
        if($j('#leftBottomFrame').attr('src')=="jsmolIFrame"){
          $j('#leftBottomFrame')[0].src = "/jsmolIFrame/?viewer_type=#{@viewerType}&origin=#{@identifierType}&pdbs="+encodeURI('#{@pdbs.to_json}'+"&emdb=#{@emdb}");
        }
        if(noAlignments){
          clear_wm();
          display_noAlignments( #{@pdbs.to_json} );
        }
      });
     });
  = render 'main'
