= stylesheet_link_tag('main_frame/start.css') 
:javascript
  $j("body").css({"min-width":"750px"});
:javascript
  $j(document).ready(function(){
    clear_wm();
    $j('#query_form').submit(function( event ){
      $j( ".first_step_form" ).css('display','none');
      $j( ".wait_div" ).css('display','block');
    });
  });

.title_container{:style=>"width:738px;margin-left:auto;margin-right:auto;"}
  =image_tag("3dbionotes_ws_logo.png")
.start_panel{:style=>"border-style:none;"}
  .start_inner_panel{:style=>"padding:0 10 0 10;"}
    %ul#topnav{:style=>"position:initial;"}
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="http://3dbionotes.cnb.csic.es/ws/home"',:style=>"cursor:pointer;font-weight:bold;"}HOME
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="http://3dbionotes.cnb.csic.es/ws/submit"',:style=>"cursor:pointer;font-weight:bold;"}SUBMIT
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="http://3dbionotes.cnb.csic.es/ws/database"',:style=>"cursor:pointer;font-weight:bold;"}QUERY
      %li
        %a.nostyle.menu{:onclick=>'window.location.href="http://3dbionotes.cnb.csic.es/ws/help"',:style=>"cursor:pointer;font-weight:bold;"}HELP

    .main_div
      .seq_div{:style=>"margin-top:25px;"}
        .first_step_form{:style=>"color:#666666;font-size:12px;font-weight:bold;border: 1px solid #A6A6A6;padding:10 20 10 20;"}
          WE NEED TO IDENTIFY THE DIFFERENT PROTEINS INCLUDED IN YOUR STRUCTURE. PLEASE, USE THE ABOVE MENU TO SELECT THE CORRESPONDING UNIPROT ENTRY FOR EACH CHAIN.
          = form_tag({controller: "main", action: "chain_mapping"}, :multipart => true, :method => :post,id: "query_form",:style=>"margin-top:20px;") do 
            = hidden_field_tag(:viewer_type,@viewerType)
            = hidden_field_tag(:rand,@rand)
            = hidden_field_tag(:file,@file)
            = hidden_field_tag(:title,@title)
            = hidden_field_tag(:mapping,@mapping.to_json)
            -@choice.sort.to_h.each do |ch,seq|
              %span{:style=>"font-weight:bold;"}
                CHAIN #{ch} 
              %div{:class=>'uniprot_selection_div'}
                %table{:class=>'uniprot_selection_table'}
                  -@choice[ch].each do |r|
                    %tr
                      %td
                        =radio_button_tag(ch,r['acc']+'__'+r['db']+'__'+r['title']['name']['long'])
                      %td{:style=>"font-weight:bold;font-family:Monospace;"}
                        %a{ :target=>'_blank',:href=>"http://www.uniprot.org/uniprot/#{r['acc']}"  }
                          #{r['acc']}
                      %td
                        #{r['title']['gene']}
                      %td{:title=>"#{r['title']['name']['long']}", :style=>"cursor:help;"}
                        #{r['title']['name']['short']}
                      %td{:title=>"#{r['title']['org']['long']}", :style=>"cursor:help;"}
                        #{r['title']['org']['short']}
                      %td
                        #{r['cov']}
                      %td
                        #{r['evalue']}
                      %td
                        #{r['start']}
                      %td
                        #{r['end']}
              %br
            %br
            = button_tag("Submit")
        .wait_div{:style=>'display:none;font-size:24px;font-weight:bold;margin:100 0 100 0;color:#666666;'}
          %span.wait_text PLEASE BE PATIENT
          %br
          %br
          =image_tag("loading.gif",size:"300x300")
          %br
          %br
          %span.wait_text THIS PROCESS MAY TAKE A FEW MINUTES
    .footer_div
      %div
        3DBIONOTES web-server was developed and is maintained at the
        %a{:href => "http://biocomp.cnb.csic.es"}
          Biocomputing Unit
        \-
        %a{:href => "http://www.cnb.csic.es"}
          CNB
      %div
        by
        %a{:href => "http://biocomp.cnb.csic.es/staff"}
          Joan Segura Mora
      %div
        Citing the web-server?
        %a{:href => ""}
          =image_tag("pubmed.png",:style=>"border:0;height:12;")
