-if @error
  :javascript
    $j(document).ready(function(){
      #{@error.sub! "'" , "\'"}
      swal({title:'ERROR> BioPython parser',text:'#{@error}',type:'error'},function(){
        window.location.replace("/ws/submit");
      });
    });
-else
  = stylesheet_link_tag('main_frame/upload_first_step_form.css')
  :javascript
    $j("body").css({"min-width":"750px"});
  :javascript
    $j(document).ready(function(){
      clear_wm();
      $j('#query_form').submit(function( event ){
        $j( ".first_step_form" ).css('display','none');
        $j( ".wait_div" ).css('display','block');
      });
    });
  
  .title_container{:style=>"width:738px;margin-left:auto;margin-right:auto;"}
    =image_tag("3dbionotes_ws_logo.png")
  .start_panel{:style=>"border-style:none;"}
    .start_inner_panel
      %div#topnav_div
        %ul#topnav{:style=>"position:initial;"}
          %li
            %a.nostyle.menu{:onclick=>'window.location.href="/ws/home"',:style=>"cursor:pointer;font-weight:bold;"}HOME
          %li
            %a.nostyle.menu{:onclick=>'window.location.href="/ws/submit"',:style=>"cursor:pointer;font-weight:bold;"}SUBMIT
          %li
            %a.nostyle.menu{:onclick=>'window.location.href="/ws/database"',:style=>"cursor:pointer;font-weight:bold;"}QUERY
          %li
            %a.nostyle.menu{:onclick=>'window.location.href="/ws/help"',:style=>"cursor:pointer;font-weight:bold;"}HELP
  
      .main_div
        .seq_div{:style=>"margin-top:25px;"}
          .first_step_form
            WE NEED TO IDENTIFY THE DIFFERENT PROTEINS INCLUDED IN YOUR STRUCTURE. PLEASE, USE THE ABOVE MENU TO SELECT THE CORRESPONDING PROTEIN FOR EACH CHAIN INCLUDED IN YOUR STRUCTURE.
            = form_tag({controller: "main", action: "chain_mapping"}, :multipart => true, :method => :post,id: "query_form",:style=>"margin-top:20px;") do 
              = hidden_field_tag(:viewer_type,@viewerType)
              = hidden_field_tag(:rand,@rand)
              = hidden_field_tag(:file,@file)
              = hidden_field_tag(:title,@title)
              = hidden_field_tag(:mapping,@mapping.to_json)
              -@choice.sort.to_h.each do |ch,seq|
                %span{:style=>"font-weight:bold;"}
                  CHAIN #{ch} 
                %div{:class=>'uniprot_selection_container_div'}
                  %div{:class=>'uniprot_selection_div'}
                    %div
                      %table{:class=>'uniprot_selection_table'}
                        %colgroup
                          %col{:width=>"50px;"}
                          %col{:width=>"50px;"}
                          %col{:width=>"250px;"}
                          %col{:width=>"250px;"}
                          %col{:width=>"50px;"}
                          %col{:width=>"50px;"}
                          %col{:width=>"50px;"}
                          %col{:width=>"50px;"}
                          %col{:width=>"50px;"}
  
                        %thead 
                          %tr{:style=>"background-color:#FFFFFF;"}
                            %th
                              &nbsp;
                            %th{:style=>"cursor:help;", :title=>"Gene symbol"}
                              GENE
                            %th{:style=>"cursor:help;", :title=>"Protein recommended name"}
                              PROTEIN NAME
                            %th{:style=>"cursor:help;", :title=>"Organism"}
                              ORGANISM
                            %th{:style=>"cursor:help;", :title=>"UniProt database accession"}
                              ACC
                            %th{:style=>"cursor:help;", :title=>"Sequence identity"}
                              SEQ ID
                            %th{:style=>"cursor:help;", :title=>"BLAST alignment e-value"}
                              E-VALUE 
                            %th{:style=>"cursor:help;", :title=>"Sequence alignment start"}
                              START 
                            %th{:style=>"cursor:help;", :title=>"Sequence alignment stop"}
                              END 
                        -@choice[ch].each do |r|
                          %tr
                            %td
                              =radio_button_tag(ch,r['acc']+'__'+r['db']+'__'+r['title']['name']['long']+'__'+r['title']['org']['long']+'__'+r['title']['gene'])
                            %td
                              %b
                                #{r['title']['gene']}
                            %td{:title=>"#{r['title']['name']['long']}", :style=>"cursor:help;"}
                              #{r['title']['name']['long']}
                            %td{:title=>"#{r['title']['org']['long']}", :style=>"cursor:help;"}
                              #{r['title']['org']['long']}
                            %td{:style=>"font-weight:bold;font-family:Monospace;"}
                              %a{ :target=>'_blank',:href=>"http://www.uniprot.org/uniprot/#{r['acc']}"  }
                                #{r['acc']}
                            %td
                              #{r['cov']}
                            %td
                              #{r['evalue']}
                            %td
                              #{r['start']}
                            %td
                              #{r['end']}
              = button_tag("Submit")
          .wait_div{:style=>'display:none;font-size:24px;font-weight:bold;margin:100 0 100 0;color:#666666;'}
            %span.wait_text PLEASE BE PATIENT
            %br
            %br
            =image_tag("loading.gif",size:"300x300")
            %br
            %br
            %span.wait_text THIS PROCESS MAY TAKE A FEW MINUTES
      .footer_div
        %div
          3DBIONOTES web-server was developed and is maintained at the
          %a{:href => "http://biocomp.cnb.csic.es"}
            Biocomputing Unit
          \-
          %a{:href => "http://www.cnb.csic.es"}
            CNB
        %div
          by
          %a{:href => "http://biocomp.cnb.csic.es/staff"}
            Joan Segura Mora
        %div
          Citing the web-server?
          %a{:href => ""}
            =image_tag("pubmed.png",:style=>"border:0;height:12;")
