-if !@viewerType.nil?
  #mainFrames
    :javascript
      var viewerType = "#{@viewerType}";
      var infoGlobal;
      var options = {
        viewer_id: 'bionotes_jsmol',
        pdb_list: #{@pdbList},
        emdb: '#{@emdb}',
        origin: '#{@origin}',
        n_models: '#{@n_models}'
      }
      var miApplet;
      if (viewerType=="jsmol"){
        bionotes_jsmol();
        miApplet = new JSmolClass();
      }else if(viewerType=="ngl"){
        miApplet = new nglClass( options );
      }else if(viewerType=="chimera"){
        miApplet = new chimeraClass();
      }
      miApplet.start(options);
      $j(window).load(function(){
        var size = {};
        size["width"]=window.innerWidth;
        size["height"]=window.innerHeight;
        miApplet.resize(size);
        window.addEventListener("ResetInfo", function(evt){
          $j('#selected_residues').css( 'visibility','hidden' );
          miApplet.reset_view();
          if(infoGlobal!=undefined){
            if(infoGlobal.activepdb!=undefined && infoGlobal.activechain!=undefined){
              miApplet.highlight_chain(infoGlobal.activepdb,infoGlobal.activechain);
            }
          }
        });
      });
      window.onresize = function(event){
        var size = {};
        size["width"]=window.innerWidth;
          size["height"]=window.innerHeight;
          miApplet.resize(size);
      }
      $j(window).load(function(){
        window.addEventListener("highlightNeight", function(evt){
          miApplet.highlight_neightbours();
        });
        window.addEventListener("addAtoms", function(evt){
          if(infoGlobal.activepdb!=undefined && infoGlobal.activechain!=undefined){
            miApplet.load_more_atoms(infoGlobal.activepdb,infoGlobal.activechain);
          }
        });
        window.addEventListener("volumeInfo", function(evt){
          showHide = evt.detail;
          if(showHide=="showVolume"){
            miApplet.show_volume();
          }else{
            miApplet.hide_volume();
          }
        });
        window.addEventListener("heteroInfo", function(evt){
          showHide = evt.detail;
          if(showHide=="showHetero"){
            miApplet.show_hetero();
          }else{
            miApplet.hide_hetero();
          }
        });
        window.addEventListener("ThresholdInfo", function(evt){
          level = evt.detail;
          miApplet.load_surface("#{@emdb}",level,"#{@maxSizeVol}");
        });
      });
    -if @viewerType=="ngl"
      %div{:class => "ngl_loading"}
      %div{:class => "ngl_em_loading"}
      %div{:id => "viewport", :style=>"width:100%; height:100%;"}
    -if @origin=="Uniprot"
      :javascript
        displayMessage("USE THE SELECT MENU TO VISUALIZE A PROTEIN STRUCTURE");
    -if !@pdbList.nil? and @viewerType != 'ngl'
      :javascript
        loadPDB('#{@pdbList}');
    -if !@emdb.nil? and !@emdb.empty? and @viewerType != 'ngl'
      :javascript
        loadEMDB('#{@emdb}','#{@threshold}','#{@maxSizeVol}');
    :javascript
      resetView();
