%html(lang="en")
  %head
    = stylesheet_link_tag('webserver/webserver_style.css')
    = stylesheet_link_tag('https://www.w3schools.com/w3css/4/w3.css')
    = stylesheet_link_tag('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    #cv_page_header.w3-container
      .w3-row
        #cv_app_logo.w3-col.m10.w3-left
          = image_tag '3DBionotesWS_CoVid_logo.png', alt: '3DBionotes-logo', height: '200'
        #cv_partners_logos.w3-col.m2.w3-right
          .w3-bar-block
            .w3-bar-item.w3-right
              = image_tag 'Ministerio_de_Ciencia_e_Innovacion_logo.jpg', alt: 'CSIC-Ministerio_Ciencia', height: '55', class: 'w3-bar-item w3-mobile w3-right'
            .w3-bar-item.w3-right
              .w3-right
                = link_to image_tag('CNB_logo.jpg', alt: 'CNB-logo', height: '30'), 'http://www.cnb.csic.es/index.php/en/', target: "_blank"
                = link_to image_tag('CSIC_logo.jpg', alt: 'CSIC-Ministerio_Ciencia', height: '30'), 'http://www.csic.es/en', target: "_blank"
            .w3-bar-item.w3-right
              = link_to image_tag('https://instruct-eric.eu/templates/instructeric/images/logos/instruct-eric-logo-noline.png', alt: 'Intruct-logo', height: '30'), 'https://instruct-eric.eu', target: "_blank", class: 'w3-right'
            .w3-bar-item.w3-right
              = link_to image_tag('https://inb-elixir.es/sites/default/files/inbelixir.png', alt: 'INB_Elixir_Spain-logo', height: '30'), 'https://inb-elixir.es', target: "_blank", class: 'w3-right'

    #cv_h_menu.w3-container
      .w3-panel
        .w3-bar.w3-center.w3-mobile
          = link_to 'HOME', "/ws/home",  style:"font-weight:bold", class: "w3-button w3-blue w3-round w3-left", style:"width:10%"
          = link_to 'CoVid-19', nil,  style:"font-weight:bold", class: "w3-button w3-disabled w3-teal w3-round", style:"width:10%"
          = link_to 'QUERY', "/ws/database",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'SUBMIT', "/ws/submit",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'NETWORK', "/ws/network",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'API', "/ws/api",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'HELP', "/ws/help",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'ABOUT US', "http://biocomputingunit.es",  style:"font-weight:bold", class: "w3-bar-item w3-button w3-blue w3-round w3-right", target: '_blank', style:"width:10%"

    %hr.dashed