%html(lang="en")
  %head
    = stylesheet_link_tag('webserver/webserver_style.css')
    = stylesheet_link_tag('webserver/w3.css')
    = stylesheet_link_tag('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    #cv_page_header.w3-container
      .w3-row
        #cv_app_logo.w3-col.m10.w3-left
          = image_tag '3DBionotesWS_CoVid_logo.png', alt: '3DBionotes-logo', height: '200'
        #cv_partners_logos.w3-col.m2.w3-right
          .w3-bar-block
            .w3-bar-item.w3-right
              = image_tag 'Ministerio_de_Ciencia_e_Innovacion_logo.jpg', alt: 'CSIC-Ministerio_Ciencia', height: '55', class: 'w3-bar-item w3-mobile w3-right'
            .w3-bar-item.w3-right
              .w3-right
                = link_to image_tag('CNB_logo.jpg', alt: 'CNB-logo', height: '30'), 'http://www.cnb.csic.es/index.php/en/', target: "_blank"
                = link_to image_tag('CSIC_logo.jpg', alt: 'CSIC-Ministerio_Ciencia', height: '30'), 'http://www.csic.es/en', target: "_blank"
            .w3-bar-item.w3-right
              = link_to image_tag('https://instruct-eric.eu/templates/instructeric/images/logos/instruct-eric-logo-noline.png', alt: 'Intruct-logo', height: '30'), 'https://instruct-eric.eu', target: "_blank", class: 'w3-right'
            .w3-bar-item.w3-right
              = link_to image_tag('https://inb-elixir.es/sites/default/files/inbelixir.png', alt: 'INB_Elixir_Spain-logo', height: '30'), 'https://inb-elixir.es', target: "_blank", class: 'w3-right'

    #cv_h_menu.w3-container
      .w3-panel.w3-card.w3-light-gray
        .w3-bar.w3-center.w3-mobile
          = link_to 'HOME', "/ws/home",  style:"font-weight:bold", class: "w3-button w3-blue w3-round w3-left", style:"width:10%"
          = link_to 'CoVid-19', nil,  style:"font-weight:bold", class: "w3-button w3-teal w3-round", style:"width:10%"
          = link_to 'QUERY', "/ws/database",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'SUBMIT', "/ws/submit",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'NETWORK', "/ws/network",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'API', "/ws/api",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'HELP', "/ws/help",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'ABOUT US', "http://biocomputingunit.es",  style:"font-weight:bold", class: "w3-bar-item w3-button w3-blue w3-round w3-right", target: '_blank', style:"width:10%"

    %hr.dashed
    #cv_page_content.w3-container

      #cv_examples.w3-container
        %h3.w3-center.w3-opacity{style:"font-weight:bold;color:#074987;"} Selected entries
        .w3-row.w3-padding
          .w3-card.w3-padding-small.w3-hover-shadow.w3-center
            = link_to 'S - Spike glycoprotein - P0DTC2', '/?queryId=P0DTC2&viewer_type=ngl&button=#query', style:"font-weight:bold"
        .w3-row.w3-padding
          .w3-card.w3-padding.w3-hover-shadow.w3-half.w3-center
            = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/EMD-21375/400_21375.gif', alt: 'EMD-30039', height: '150'),'/?queryId=EMD-21375&viewer_type=ngl&button=#query', style:"font-weight:bold"
            %p.w3-padding-small{style:"font-weight:bold"} EMD-21375
          .w3-card.w3-padding.w3-hover-shadow.w3-half.w3-center
            = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/6lzg_deposited_chain_front_image-200x200.png', alt: '6LZG', height: '150'), '/?queryId=6LZG&viewer_type=ngl&button=#query'
            %p.w3-padding-small{style:"font-weight:bold"} 6LZG
  
      #cv_data_content

        #cv_data_index
          %h3.w3-center.w3-opacity{style:"font-weight:bold;color:#074987;"} SARS-CoV-2 virus proteome
          .w3-padding-large
            %table.w3-table.w3-responsive
              %tr
                %td.w3-tag.w3-round.w3-grey.w3-center{:colspan => 11}
                  .index1
                    %a{:href=>"#R1a"} R1a
              %tr
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP1"} NSP1
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP2"} NSP2
                %td.w3-tag.w3-round.w3-blue-gray{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP3"} PL-Pro
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP4"} NSP4
                %td.w3-tag.w3-round.w3-blue-gray{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP5"} 3CL
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP6"} NSP6
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP7"} NSP7
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP8"} NSP8
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP9"} NSP9
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP10"} NSP10
                %td.w3-tag.w3-round.w3-light-grey{:rowspan => 2}
                  .index2
                    %a{:href=>"#NSP11"} NSP11
                %td.w3-tag.w3-tag.w3-round.w3-white{:colspan => 5}
                %td.w3-tag.w3-tag.w3-round.w3-cyan
                  .index2
                    %a{:href=>"#S"} S
                %td.w3-tag.w3-tag.w3-round.w3-white{:colspan => 2}
                %td.w3-tag.w3-tag.w3-round.w3-lime
                  .index2
                    %a{:href=>"#M"} M
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-blue
                  .index2
                    %a{:href=>"#NS7a"} NS7a
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-brown
                  .index2
                    %a{:href=>"#NS8"} NS8
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-green
                  .index2
                    %a{:href=>"#N"} N
              %tr
                %td.w3-tag.w3-round.w3-light-grey
                  .index2
                    %a{:href=>"#NSP12"} NSP12
                %td.w3-tag.w3-round.w3-light-grey
                  .index2
                    %a{:href=>"#NSP13"} NSP13
                %td.w3-tag.w3-round.w3-light-grey
                  .index2
                    %a{:href=>"#NSP14"} NSP14
                %td.w3-tag.w3-round.w3-light-grey
                  .index2
                    %a{:href=>"#NSP15"} NSP15
                %td.w3-tag.w3-round.w3-light-grey
                  .index2
                    %a{:href=>"#NSP16"} NSP16
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-amber
                  .index2
                    %a{:href=>"#NS3a"} NS3a
                %td.w3-tag.w3-tag.w3-round.w3-purple
                  .index2
                    %a{:href=>"#E"} E
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-orange
                  .index2
                    %a{:href=>"#NS6"} NS6
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-orange
                  .index2
                    %a{:href=>"#NS7b"} NS7b
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-orange
                  .index2
                    %a{:href=>"#NS9b"} NS9b
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-orange
                  .index2
                    %a{:href=>"#NS14"} NS14
                %td.w3-tag.w3-tag.w3-round.w3-white
                %td.w3-tag.w3-tag.w3-round.w3-red
                  .index2
                    %a{:href=>"#NS10"} NS10
              %tr
                %td.w3-tag.w3-round.w3-grey.w3-center{:colspan => 16} 
                  .index1
                    %a{:href=>"#R1ab"} R1ab
              %hr.dashed

        #cv_dataset_content.w3-container
          %h3.w3-center.w3-opacity{style:"font-weight:bold;color:#074987;"} Known Proteins
          %hr.dashed

          - uEntry = "P0DTC1"
          #P0DTC1.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
              - uEntry = "NSP3"
              #PLPro.data_item_content.w3-card.section#NSP3
                %header.w3-padding
                  .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
                  .w3-tag.w3-padding-large.w3-round.w3-light-grey= 'PL-Pro'
                  .w3-tag.w3-padding-large.w3-round.w3-light-grey= 'Papain-like proteinase'
                #tabs_panel.w3-panel.w3-responsive
                  .w3-bar.w3-round.w3-light-grey.w3-border
                    %button.w3-bar-item.w3-button.tablink.w3-grey{onclick:"openTab(event,'NSP3_PDB','nsp3_item_tab')"} PDB
                    %button.w3-bar-item.w3-button.tablink.w3-disabled{onclick:"openTab(event,'NSP3_EMDB','nsp3_item_tab')"} EMDB
                    %button.w3-bar-item.w3-button.tablink{onclick:"openTab(event,'NSP3_CompModels','nsp3_item_tab')"} Computational Models
                    %button.w3-bar-item.w3-button.tablink.w3-disabled{onclick:"openTab(event,'NSP3_Interactions','nsp3_item_tab')"} Interactions
                    %button.w3-bar-item.w3-button.tablink.w3-disabled{onclick:"openTab(event,'NSP3_OtherRelated','nsp3_item_tab')"} Other Related
                  #NSP3_PDB.nsp3_item_tab.w3-panel.w3-mobile
                    - @nsp3_models.each do | modelId |
                      .models.w3-cell.w3-button.w3-round
                        -img_path = @pdb_img_path_pre + modelId + @pdb_img_path_sub
                        -query_path = @bionotes_qry_pre + modelId + @bionotes_qry_sub
                        = link_to image_tag(img_path, alt: modelId, height: '100'), query_path
                        %p.w3-padding-small{style:"font-weight:bold"}= modelId
                        = link_to 'PDB-redo', 'https://pdb-redo.eu/db/6vsb', target: '_blank', class: "w3-tag w3-round w3-teal"
                  #NSP3_EMDB.nsp3_item_tab.w3-panel.w3-mobile{style: "display:none"}
                    .maps.w3-cell
                      %p <i class="fa fa-spinner w3-spin" style="font-size:32px"></i>
                  #NSP3_CompModels.nsp3_item_tab.w3-panel.w3-mobile{style: "display:none"}
                    #c_models.w3-cell
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/interactive/5hYU6g/models/13', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/13.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/01', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/01.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/02', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/02.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/03', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/03.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/10', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/10.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/11', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/11.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/12', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/12.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/08', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/08.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/04', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/04.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/06', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/06.png', height:100
                      .c_models.w3-cell.w3-button.w3-round
                        %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/07', target: '_blank'}
                          = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/07.png', height:100

                  #NSP3_Interactions.nsp3_item_tab.w3-panel.w3-mobile{style: "display:none"}
                    .interactions.w3-cell
                      %p <i class="fa fa-spinner w3-spin" style="font-size:32px"></i>
                  #NSP3_OtherRelated.nsp3_item_tab.w3-panel.w3-mobile{style: "display:none"}
                    .o_related.w3-cell
                      %p <i class="fa fa-spinner w3-spin" style="font-size:32px"></i>            

          - uEntry = "P0DTD1"
          #P0DTD1.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive


          - uEntry = "P0DTC2"
          #P0DTC2.data_item_content.w3-card.section#S
            %header.w3-padding
              - @s_names.each do | a_name |
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive
              .w3-bar.w3-round.w3-light-grey.w3-border
                %button.w3-bar-item.w3-button.tablink.w3-grey{onclick:"openTab(event,'S_PDB','s_item_tab')"} PDB
                %button.w3-bar-item.w3-button.tablink{onclick:"openTab(event,'S_EMDB','s_item_tab')"} EMDB
                %button.w3-bar-item.w3-button.tablink.w3-disabled{onclick:"openTab(event,'S_CompModels','s_item_tab')"} Computational Models
                %button.w3-bar-item.w3-button.tablink.w3-disabled{onclick:"openTab(event,'S_Interactions','s_item_tab')"} Interactions
                %button.w3-bar-item.w3-button.tablink.w3-disabled{onclick:"openTab(event,'S_OtherRelated','s_item_tab')"} Other Related
              #S_PDB.s_item_tab.w3-panel.w3-mobile
                - @s_models.each do | modelId |
                  .models.w3-cell.w3-button.w3-round
                    -img_path = @pdb_img_path_pre + modelId + @pdb_img_path_sub
                    -query_path = @bionotes_qry_pre + modelId + @bionotes_qry_sub
                    = link_to image_tag(img_path, alt: modelId, height: '100'), query_path
                    %p.w3-padding-small{style:"font-weight:bold"}= modelId
                    = link_to 'PDB-redo', 'https://pdb-redo.eu/db/6vsb', target: '_blank', class: "w3-tag w3-round w3-teal"
                    = link_to 'Isolde', 'https://swissmodel.expasy.org/5hYU6g/models/04', target: '_blank', class: "w3-tag w3-round w3-cyan"
              #S_EMDB.s_item_tab.w3-panel.w3-mobile{style: "display:none"}
                - @s_maps.each do | mapId |
                  .maps.w3-cell.w3-button
                    -img_path = @map_img_path_pre + mapId + @map_img_path_sub1 + mapId[4..8] + @map_img_path_sub2
                    -query_path = @bionotes_qry_pre + mapId + @bionotes_qry_sub
                    = link_to image_tag(img_path, alt: mapId, height: '100'), query_path
                    %p.w3-padding-small{style:"font-weight:bold"}= mapId
              #S_CompModels.s_item_tab.w3-panel.w3-mobile{style: "display:none"}
                #c_models.w3-cell
                  %p <i class="fa fa-spinner w3-spin" style="font-size:32px"></i>
              #S_Interactions.s_item_tab.w3-panel.w3-mobile{style: "display:none"}
                .interactions.w3-cell
                  %p <i class="fa fa-spinner w3-spin" style="font-size:32px"></i>
              #S_OtherRelated.s_item_tab.w3-panel.w3-mobile{style: "display:none"}
                .o_related.w3-cell
                  %p <i class="fa fa-spinner w3-spin" style="font-size:32px"></i>

          - uEntry = "P0DTC3"
          #P0DTC3.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTC4"
          #P0DTC4.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTC5"
          #P0DTC5.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTC6"
          #P0DTC6.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTC7"
          #P0DTC7.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTC8"
          #P0DTC8.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTD8"
          #P0DTD8.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTC9"
          #P0DTC9.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive

          - uEntry = "P0DTD2"
          #P0DTD2.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive


          - uEntry = "P0DTD3"
          #P0DTD3.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive


          - uEntry = "A0A663DJA2"
          #A0A663DJA2.data_item_content.w3-card
            %header.w3-padding
              .w3-tag.w3-padding-large.w3-round.w3-light-grey= uEntry
              - @alt_names[uEntry].each do |a_name|
                .w3-tag.w3-padding-large.w3-round.w3-light-grey= a_name
            #tabs_panel.w3-panel.w3-responsive


 


    %hr.dashed
    #cv_page_footer
      #cv_ext_resources

      %hr.dashed
      #cv_afilliation.w3-container
        .w3-row
          .w3-col-padding.w3-center{style:"font-weight:bold;color:#074987;"}
            = link_to 'Biocomputing Unit', "http://biocomputingunit.es", target: "_blank"
            \@
            = link_to 'CNB', "http://www.cnb.csic.es/index.php/en", target: "_blank"
            \|
            = link_to 'CSIC', "http://www.csic.es/", target: "_blank"
            \|
            = link_to 'I2PC', 'https://instruct-eric.eu', target: "_blank"
            \|
            = link_to 'INB', 'https://inb-elixir.es', target: "_blank"
            \|
            = link_to 'Elixir', 'https://inb-elixir.es', target: "_blank"



:javascript
  function openTab(evt, tabName, item_tab) {
    var i, x, tablinks;
    x = document.getElementsByClassName(item_tab);
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
    }
    document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " w3-grey";
  }
