%html(lang="en")
  %head
    = stylesheet_link_tag('webserver/webserver_style.css')
    = stylesheet_link_tag('webserver/w3.css')
    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    #cv_page_header.w3-container
      .w3-row
        #cv_app_logo.w3-col.m10.w3-left
          = image_tag '3DBionotesWS_CoVid_logo.png', alt: '3DBionotes-logo', height: '200'
        #cv_partners_logos.w3-col.m2.w3-right
          .w3-bar-block
            .w3-bar-item.w3-right
              = image_tag 'Ministerio_de_Ciencia_e_Innovacion_logo.jpg', alt: 'CSIC-Ministerio_Ciencia', height: '55', class: 'w3-bar-item w3-mobile w3-right'
            .w3-bar-item.w3-right
              .w3-right
                = link_to image_tag('CNB_logo.jpg', alt: 'CNB-logo', height: '30'), 'http://www.cnb.csic.es/index.php/en/', target: "_blank"
                = link_to image_tag('CSIC_logo.jpg', alt: 'CSIC-Ministerio_Ciencia', height: '30'), 'http://www.csic.es/en', target: "_blank"
            .w3-bar-item.w3-right
              = link_to image_tag('https://instruct-eric.eu/templates/instructeric/images/logos/instruct-eric-logo-noline.png', alt: 'Intruct-logo', height: '30'), 'https://instruct-eric.eu', target: "_blank", class: 'w3-right'
            .w3-bar-item.w3-right
              = link_to image_tag('https://inb-elixir.es/sites/default/files/inbelixir.png', alt: 'INB_Elixir_Spain-logo', height: '30'), 'https://inb-elixir.es', target: "_blank", class: 'w3-right'

    #cv_h_menu.w3-container
      .w3-panel.w3-card.w3-light-gray
        .w3-bar.w3-center.w3-mobile
          = link_to 'HOME', "/ws/home",  style:"font-weight:bold", class: "w3-button w3-blue w3-round w3-left", style:"width:10%"
          = link_to 'CoVid-19', nil,  style:"font-weight:bold", class: "w3-button w3-teal w3-round", style:"width:10%"
          = link_to 'QUERY', "/ws/database",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'SUBMIT', "/ws/submit",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'NETWORK', "/ws/network",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'API', "/ws/api",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'HELP', "/ws/help",  style:"font-weight:bold", class: "w3-button w3-blue w3-round", style:"width:10%"
          = link_to 'ABOUT US', "http://biocomputingunit.es",  style:"font-weight:bold", class: "w3-bar-item w3-button w3-blue w3-round w3-right", target: '_blank', style:"width:10%"

    %hr.dashed
    #cv_page_content.w3-container

      #cv_examples.w3-container
        %h3.w3-center.w3-opacity{style:"font-weight:bold;color:#074987;"} Selected entries
        .w3-row.w3-padding
          .w3-card.w3-padding-small.w3-hover-shadow.w3-center
            = link_to 'S - Spike glycoprotein - P0DTC2', '/?queryId=P0DTC2&viewer_type=ngl&button=#query', style:"font-weight:bold"
        .w3-row.w3-padding
          .w3-card.w3-padding.w3-hover-shadow.w3-half.w3-center
            = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/EMD-30039/400_30039.gif', alt: 'EMD-30039', height: '150'),'/?queryId=EMD-30039&viewer_type=ngl&button=#query', style:"font-weight:bold"
            %p.w3-padding-small{style:"font-weight:bold"} EMD-30039
          .w3-card.w3-padding.w3-hover-shadow.w3-half.w3-center
            = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/6lzg_deposited_chain_front_image-200x200.png', alt: '6ACG', height: '150'), '/?queryId=6LZG&viewer_type=ngl&button=#query'
            %p.w3-padding-small{style:"font-weight:bold"} 6LZG


      %hr.dashed
      #cv_query_form
      

      #cv_data_content

        #cv_data_index
          %h3.w3-center.w3-opacity{style:"font-weight:bold;color:#074987;"} SARS-CoV-2 virus proteome
          %table.w3-table.w3-responsive
            %tr
              %td.w3-tag.w3-round.w3-dark-gray.w3-center{:colspan => 11}
                .index1
                  %a{:href=>"#R1a"} R1a
            %tr
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP1"} NSP1
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP2"} NSP2
              %td.w3-tag.w3-round.w3-blue-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP3"} PL-Pro
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP4"} NSP4
              %td.w3-tag.w3-round.w3-blue-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP5"} 3CL
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP6"} NSP6
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP7"} NSP7
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP8"} NSP8
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP9"} NSP9
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP10"} NSP10
              %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
                .index2
                  %a{:href=>"#NSP11"} NSP11
              %td.w3-tag.w3-tag.w3-round.w3-white{:colspan => 5}
              %td.w3-tag.w3-tag.w3-round.w3-cyan
                .index2
                  %a{:href=>"#S"} S
              %td.w3-tag.w3-tag.w3-round.w3-white{:colspan => 2}
              %td.w3-tag.w3-tag.w3-round.w3-lime
                .index2
                  %a{:href=>"#M"} M
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-blue
                .index2
                  %a{:href=>"#NS7a"} NS7a
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-brown
                .index2
                  %a{:href=>"#NS8"} NS8
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-green
                .index2
                  %a{:href=>"#N"} N
            %tr
              %td.w3-tag.w3-round.w3-gray
                .index2
                  %a{:href=>"#NSP12"} NSP12
              %td.w3-tag.w3-round.w3-gray
                .index2
                  %a{:href=>"#NSP13"} NSP13
              %td.w3-tag.w3-round.w3-gray
                .index2
                  %a{:href=>"#NSP14"} NSP14
              %td.w3-tag.w3-round.w3-gray
                .index2
                  %a{:href=>"#NSP15"} NSP15
              %td.w3-tag.w3-round.w3-gray
                .index2
                  %a{:href=>"#NSP16"} NSP16
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-amber
                .index2
                  %a{:href=>"#NS3a"} NS3a
              %td.w3-tag.w3-tag.w3-round.w3-purple
                .index2
                  %a{:href=>"#E"} E
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-orange
                .index2
                  %a{:href=>"#NS6"} NS6
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-orange
                .index2
                  %a{:href=>"#NS7b"} NS7b
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-orange
                .index2
                  %a{:href=>"#NS9b"} NS9b
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-orange
                .index2
                  %a{:href=>"#NS14"} NS14
              %td.w3-tag.w3-tag.w3-round.w3-white
              %td.w3-tag.w3-tag.w3-round.w3-red
                .index2
                  %a{:href=>"#NS10"} NS10
            %tr
              %td.w3-tag.w3-round.w3-dark-grey.w3-center{:colspan => 16} 
                .index1
                  %a{:href=>"#R1ab"} R1ab

        %hr.dashed

        #cv_dataset_content
          %h3.w3-center.w3-opacity{style:"font-weight:bold;color:#074987;"} Known Proteins

          #cv_data_item_content
            %p.w3-opacity{style:"font-weight:bold;color:#074987;"} #Item
            .w3-panel.w3-white.w3-card.w3-display-container
              %p.w3-text GENE
              %p MODELS
              %p MAPS
 

    %hr.dashed
    #cv_page_footer
      #cv_ext_resources

      %hr.dashed
      #cv_afilliation.w3-container
        .w3-row
          .w3-col-padding.w3-center{style:"font-weight:bold;color:#074987;"}
            = link_to 'Biocomputing Unit', "http://biocomputingunit.es", target: "_blank"
            \@
            = link_to 'CNB', "http://www.cnb.csic.es/index.php/en", target: "_blank"
            \|
            = link_to 'CSIC', "http://www.csic.es/", target: "_blank"
            \|
            = link_to 'I2PC', 'https://instruct-eric.eu', target: "_blank"
            \|
            = link_to 'INB', 'https://inb-elixir.es', target: "_blank"
            \|
            = link_to 'Elixir', 'https://inb-elixir.es', target: "_blank"