%html(lang="en")
  %head
    = stylesheet_link_tag('webserver/webserver_style.css')
    = stylesheet_link_tag('https://www.w3schools.com/w3css/4/w3.css')
    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')

  %body
    :css
      body,h1 {font-family: "Raleway", sans-serif}
      body, html {height: 100%}
      .bgimg {
        background-image: url('/coVid_bw_1020x574.png');
        min-height: 100%;
        background-position: center;
        background-size: cover;
      }

    .bgimg.w3-display-container.w3-animate-opacity.w3-text-white
      .w3-display-topleft.w3-padding-large.w3-xlarge.w3-text-grey
        3DBionotes CoVid-19 Edition
      .w3-display-middle
        %h1.w3-jumbo.w3-animate-top
          COMING SOON
        .w3-xlarge.w3-center
          just a few hours left...

      .w3-display-bottomleft.w3-padding-large.w3-xlarge.w3-text-grey
        = link_to('<< back', 'https://3dbionotes.cnb.csic.es/ws/home')
