= stylesheet_link_tag href="https://www.w3schools.com/w3css/4/w3.css"
= stylesheet_link_tag('webserver/help_style.css')

.ws_main_div
  .database_form
    = form_tag({controller: "main", action: "home",anchor: "query"}, :method => :post, :multipart => true, id: "query_form",:style=>"margin-top:20px;") do 
      %table
        %tr
          %td
            %p
              Entry ID
              = text_field_tag(:queryId, nil, maxlength: 15, size: 35, placeholder: 'Uniprot accession,PDB ID,EMDB code')
              = hidden_field_tag(:viewer_type,@viewerType)
              = button_tag("Query")
          %td
          -# %td
          -#   %h4
          -#     You may also upload your own annotations
          -#     %a{target:'_blank', title:'Example file for PDB 4G3X' , href:'/4g3x_ann_full_example.json'}
          -#     = image_tag("help_icon.png", height: '12', width: '12')
          -#     = file_field_tag(:annotations_file, {style:"font-size:12px;"})

  %hr.dashed
  #examples.w3-container
    %h3 Selected entries

    .example.w3-card.w3-hover-shadow.w3-light-grey.w3-quarter.w3-center
      = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/EMD-30039/400_30039.gif', alt: 'EMD-30039', height: '150', width: '', class: 'w3-button w3-bar-item w3-circle'), '/?queryId=EMD-30039&viewer_type=ngl&button=#query'
      %h5 EMD-30039
      %p.w3-padding-small SARS-CoV-2 Spike Glycoprotein
    .example.w3-card.w3-hover-shadow.w3-light-grey.w3-quarter.w3-center
      = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/6m17_deposited_chain_front_image-200x200.png', alt: '6M17', height: '150', width: '', class: 'w3-button w3-bar-item w3-circle'), '/?queryId=6M17&viewer_type=ngl&button=#query'
      %h5 6M17
      %p.w3-padding-small The 2019-nCoV RBD/ACE2-B0AT1 complex
    .example.w3-card.w3-hover-shadow.w3-light-grey.w3-quarter.w3-center
      = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/6lzg_deposited_chain_front_image-200x200.png', alt: '6ACG', height: '150', width: '', class: 'w3-button w3-bar-item w3-circle'), '/?queryId=6LZG&viewer_type=ngl&button=#query'
      %h4 6LZG
      %p.w3-padding-small Structure of novel coronavirus spike receptor-binding domain complexed with its receptor ACE2
    .example.w3-card.w3-hover-shadow.w3-light-grey.w3-quarter.w3-center
      = link_to image_tag('https://www.ebi.ac.uk/pdbe/static/entry/EMD-7573/400_7573.gif', alt: 'EMD-7573', height: '150', width: '', class: 'w3-button w3-bar-item w3-circle'), '/?queryId=EMD-7573&viewer_type=ngl&button=#query'
      %h4 EMD-7573
      %p.w3-padding-small SARS Spike Glycoprotein, Stabilized variant, C3 symmetry
      
  
  %hr.solid

.cv_prot_list
  %h3 SARS-CoV-2 virus proteome
  .warning.w3-panel.w3-pale-yellow.w3-display-container.w3-leftbar.w3-rightbar.w3-border-amber
    %p(style = "font-family: cursive, sans-serif") Please, note this web site is work in progress. Feel free to report any missing or inconsistent data or behaviour.

  .index_map
    %table.w3-table.w3-responsive
      %tr
        %td.w3-tag.w3-round.w3-dark-gray.w3-center{:colspan => 11}
          .index1
            %a{:href=>"#R1a"} R1a
      %tr
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP1"} NSP1
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP2"} NSP2
        %td.w3-tag.w3-round.w3-blue-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP3"} PL-Pro
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP4"} NSP4
        %td.w3-tag.w3-round.w3-blue-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP5"} 3CL
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP6"} NSP6
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP7"} NSP7
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP8"} NSP8
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP9"} NSP9
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP10"} NSP10
        %td.w3-tag.w3-round.w3-gray{:rowspan => 2}
          .index2
            %a{:href=>"#NSP11"} NSP11
        %td.w3-tag.w3-tag.w3-round.w3-white{:colspan => 5}
        %td.w3-tag.w3-tag.w3-round.w3-cyan
          .index2
            %a{:href=>"#S"} S
        %td.w3-tag.w3-tag.w3-round.w3-white{:colspan => 2}
        %td.w3-tag.w3-tag.w3-round.w3-lime
          .index2
            %a{:href=>"#M"} M
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-blue
          .index2
            %a{:href=>"#NS7a"} NS7a
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-brown
          .index2
            %a{:href=>"#NS8"} NS8
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-green
          .index2
            %a{:href=>"#N"} N
      %tr
        %td.w3-tag.w3-round.w3-gray
          .index2
            %a{:href=>"#NSP12"} NSP12
        %td.w3-tag.w3-round.w3-gray
          .index2
            %a{:href=>"#NSP13"} NSP13
        %td.w3-tag.w3-round.w3-gray
          .index2
            %a{:href=>"#NSP14"} NSP14
        %td.w3-tag.w3-round.w3-gray
          .index2
            %a{:href=>"#NSP15"} NSP15
        %td.w3-tag.w3-round.w3-gray
          .index2
            %a{:href=>"#NSP16"} NSP16
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-amber
          .index2
            %a{:href=>"#NS3a"} NS3a
        %td.w3-tag.w3-tag.w3-round.w3-purple
          .index2
            %a{:href=>"#E"} E
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-orange
          .index2
            %a{:href=>"#NS6"} NS6
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-orange
          .index2
            %a{:href=>"#NS7b"} NS7b
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-orange
          .index2
            %a{:href=>"#NS9b"} NS9b
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-orange
          .index2
            %a{:href=>"#NS14"} NS14
        %td.w3-tag.w3-tag.w3-round.w3-white
        %td.w3-tag.w3-tag.w3-round.w3-red
          .index2
            %a{:href=>"#NS10"} NS10
      %tr
        %td.w3-tag.w3-round.w3-dark-grey.w3-center{:colspan => 16} 
          .index1
            %a{:href=>"#R1ab"} R1ab
  %hr.dashed

  %hr.solid
  .cv_mid_content.w3-container
    %h4 Known Proteins

    %ul.prot_list.w3-ul.w3-tiny

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP1
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            = image_tag 'https://swissmodel.expasy.org/interactive/YxJyvF/models/01.png', alt: '', height: '150', width: '', class: 'w3-bar-item w3-circle'
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP1
            %br
            %h5 Host translation Inhibitor
            %br
            %p Description

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP2
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP2
            %br
            %h5 Non-structural protein 2
            %br
            %p Description
      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP3
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            = image_tag 'https://swissmodel.expasy.org/interactive/YxJyvF/models/01.png', alt: '', height: '150', width: '', class: 'w3-bar-item w3-circle'
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-blue-gray PL-Pro
            %br
            %h5 Papain-like proteinase
            %br
            %p Description

          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 PDB
            %ul.w3-ul
              %li
                %a{:href=>'/?queryId=6vxs&viewer_type=ngl&button=#query'}
                  6vxs
                  =image_tag("https://cdn.rcsb.org/images/rutgers/vx/6vxs/6vxs.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6w02&viewer_type=ngl&button=#query'}
                  6w02
                  =image_tag("https://cdn.rcsb.org/images/rutgers/w0/6w02/6w02.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6w6y&viewer_type=ngl&button=#query'}
                  6w6y
                  =image_tag("https://cdn.rcsb.org/images/rutgers/w6/6w6y/6w6y.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6w9c&viewer_type=ngl&button=#query'}
                  6w9c
                  =image_tag("https://cdn.rcsb.org/images/rutgers/w9/6w9c/6w9c.pdb1-500.jpg", height:100)


          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 Computational models (Swiss-Model)
            %ul.w3-ul
              %li
                %a{:href=>'https://swissmodel.expasy.org/interactive/5hYU6g/models/13', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/13.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/01', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/01.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/02', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/02.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/03', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/03.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/10', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/10.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/11', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/11.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/12', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/12.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/08', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/08.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/04', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/04.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/06', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/06.png', height:100
              %li
                %a{:href=>'https://swissmodel.expasy.org/5hYU6g/models/07', target: '_blank'}
                  = image_tag 'https://swissmodel.expasy.org/interactive/5hYU6g/models/07.png', height:100
              %li


      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP4
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            = image_tag 'https://swissmodel.expasy.org/interactive/0cKKrV/models/01.png', alt: '', height: '150', width: '', class: 'w3-bar-item w3-circle'
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP4
            %br
            %h5 Non-structural protein 4
            %br
            %p Description

          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 Computational models (Swiss-Model)
            %ul.w3-ul
              %li
                %a{:href=>'https://swissmodel.expasy.org/interactive/0cKKrV/models/01', target: '_blank'}
                  =image_tag("https://swissmodel.expasy.org/interactive/0cKKrV/models/01.png", height:100)

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP5
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-blue-gray 3CL
            %br
            %h5 3C-like proteinase
            %br
            %p Description

          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 PDB
            %ul.w3-ul
              %li
                %a{:href=>'/?queryId=5r7y&viewer_type=ngl&button=#query'}5r7y
                = image_tag 'https://cdn.rcsb.org/images/rutgers/r7/5r7y/5r7y.pdb1-500.jpg', height: '75'
                %a{:href=>'/?queryId=5r7z&viewer_type=ngl&button=#query'}5r7z
                %a{:href=>'/?queryId=5r80&viewer_type=ngl&button=#query'}5r80
                %a{:href=>'/?queryId=5r81&viewer_type=ngl&button=#query'}5r81
                %a{:href=>'/?queryId=5r82&viewer_type=ngl&button=#query'}5r82
                %a{:href=>'/?queryId=5r83&viewer_type=ngl&button=#query'}5r83
                %a{:href=>'/?queryId=5r84&viewer_type=ngl&button=#query'}5r84
                %a{:href=>'/?queryId=5r8t&viewer_type=ngl&button=#query'}5r8t
                %a{:href=>'/?queryId=5re4&viewer_type=ngl&button=#query'}5re4
                %a{:href=>'/?queryId=5re5&viewer_type=ngl&button=#query'}5re5
              %li
                %a{:href=>'/?queryId=5re6&viewer_type=ngl&button=#query'}5re6
                %a{:href=>'/?queryId=5re7&viewer_type=ngl&button=#query'}5re7
                %a{:href=>'/?queryId=5re8&viewer_type=ngl&button=#query'}5re8
                %a{:href=>'/?queryId=5re9&viewer_type=ngl&button=#query'}5re9
                %a{:href=>'/?queryId=5rea&viewer_type=ngl&button=#query'}5rea
                %a{:href=>'/?queryId=5reb&viewer_type=ngl&button=#query'}5reb
                %a{:href=>'/?queryId=5rec&viewer_type=ngl&button=#query'}5rec
                %a{:href=>'/?queryId=5red&viewer_type=ngl&button=#query'}5red
                %a{:href=>'/?queryId=5ree&viewer_type=ngl&button=#query'}5ree
                %a{:href=>'/?queryId=5ref&viewer_type=ngl&button=#query'}5ref
              %li
                %a{:href=>'/?queryId=5reg&viewer_type=ngl&button=#query'}5reg
                %a{:href=>'/?queryId=5reh&viewer_type=ngl&button=#query'}5reh
                %a{:href=>'/?queryId=5rei&viewer_type=ngl&button=#query'}5rei
                %a{:href=>'/?queryId=5rej&viewer_type=ngl&button=#query'}5rej
                %a{:href=>'/?queryId=5rek&viewer_type=ngl&button=#query'}5rek
                %a{:href=>'/?queryId=5rel&viewer_type=ngl&button=#query'}5rel
                %a{:href=>'/?queryId=5rem&viewer_type=ngl&button=#query'}5rem
                %a{:href=>'/?queryId=5ren&viewer_type=ngl&button=#query'}5ren
                %a{:href=>'/?queryId=5reo&viewer_type=ngl&button=#query'}5reo
                %a{:href=>'/?queryId=5rep&viewer_type=ngl&button=#query'}5rep
              %li
                %a{:href=>'/?queryId=5rer&viewer_type=ngl&button=#query'}5rer
                %a{:href=>'/?queryId=5res&viewer_type=ngl&button=#query'}5res
                %a{:href=>'/?queryId=5ret&viewer_type=ngl&button=#query'}5ret
                %a{:href=>'/?queryId=5reu&viewer_type=ngl&button=#query'}5reu
                %a{:href=>'/?queryId=5rev&viewer_type=ngl&button=#query'}5rev
                %a{:href=>'/?queryId=5rew&viewer_type=ngl&button=#query'}5rew
                %a{:href=>'/?queryId=5rex&viewer_type=ngl&button=#query'}5rex
                %a{:href=>'/?queryId=5rey&viewer_type=ngl&button=#query'}5rey
                %a{:href=>'/?queryId=5rez&viewer_type=ngl&button=#query'}5rez
                %a{:href=>'/?queryId=5rf0&viewer_type=ngl&button=#query'}5rf0
              %li
                %a{:href=>'/?queryId=5rf1&viewer_type=ngl&button=#query'}5rf1
                %a{:href=>'/?queryId=5rf2&viewer_type=ngl&button=#query'}5rf2
                %a{:href=>'/?queryId=5rf3&viewer_type=ngl&button=#query'}5rf3
                %a{:href=>'/?queryId=5rf4&viewer_type=ngl&button=#query'}5rf4
                %a{:href=>'/?queryId=5rf5&viewer_type=ngl&button=#query'}5rf5
                %a{:href=>'/?queryId=5rf6&viewer_type=ngl&button=#query'}5rf6
                %a{:href=>'/?queryId=5rf7&viewer_type=ngl&button=#query'}5rf7
                %a{:href=>'/?queryId=5rf8&viewer_type=ngl&button=#query'}5rf8
                %a{:href=>'/?queryId=5rf9&viewer_type=ngl&button=#query'}5rf9
                %a{:href=>'/?queryId=5rfa&viewer_type=ngl&button=#query'}5rfa
              %li
                %a{:href=>'/?queryId=5rfb&viewer_type=ngl&button=#query'}5rfb
                %a{:href=>'/?queryId=5rfc&viewer_type=ngl&button=#query'}5rfc
                %a{:href=>'/?queryId=5rfd&viewer_type=ngl&button=#query'}5rfd
                %a{:href=>'/?queryId=5rfe&viewer_type=ngl&button=#query'}5rfe
                %a{:href=>'/?queryId=5rff&viewer_type=ngl&button=#query'}5rff
                %a{:href=>'/?queryId=5rfg&viewer_type=ngl&button=#query'}5rfg
                %a{:href=>'/?queryId=5rfh&viewer_type=ngl&button=#query'}5rfh
                %a{:href=>'/?queryId=5rfi&viewer_type=ngl&button=#query'}5rfi
                %a{:href=>'/?queryId=5rfj&viewer_type=ngl&button=#query'}5rfj
                %a{:href=>'/?queryId=5rfk&viewer_type=ngl&button=#query'}5rfk
              %li
                %a{:href=>'/?queryId=5rfl&viewer_type=ngl&button=#query'}5rfl
                %a{:href=>'/?queryId=5rfm&viewer_type=ngl&button=#query'}5rfm
                %a{:href=>'/?queryId=5rfn&viewer_type=ngl&button=#query'}5rfn
                %a{:href=>'/?queryId=5rfo&viewer_type=ngl&button=#query'}5rfo
                %a{:href=>'/?queryId=5rfp&viewer_type=ngl&button=#query'}5rfp
                %a{:href=>'/?queryId=5rfq&viewer_type=ngl&button=#query'}5rfq
                %a{:href=>'/?queryId=5rfr&viewer_type=ngl&button=#query'}5rfr
                %a{:href=>'/?queryId=5rfs&viewer_type=ngl&button=#query'}5rfs
                %a{:href=>'/?queryId=5rft&viewer_type=ngl&button=#query'}5rft
                %a{:href=>'/?queryId=5rfu&viewer_type=ngl&button=#query'}5rfu
              %li
                %a{:href=>'/?queryId=5rfv&viewer_type=ngl&button=#query'}5rfv
                %a{:href=>'/?queryId=5rfw&viewer_type=ngl&button=#query'}5rfw
                %a{:href=>'/?queryId=5rfx&viewer_type=ngl&button=#query'}5rfx
                %a{:href=>'/?queryId=5rfy&viewer_type=ngl&button=#query'}5rfy
                %a{:href=>'/?queryId=5rfz&viewer_type=ngl&button=#query'}5rfz
                %a{:href=>'/?queryId=5rg0&viewer_type=ngl&button=#query'}5rg0
                %a{:href=>'/?queryId=6lu7&viewer_type=ngl&button=#query'}6lu7
                %a{:href=>'/?queryId=6m03&viewer_type=ngl&button=#query'}6m03
                %a{:href=>'/?queryId=6w63&viewer_type=ngl&button=#query'}6w63
                %a{:href=>'/?queryId=6y2e&viewer_type=ngl&button=#query'}6y2e
              %li
                %a{:href=>'/?queryId=6y2f&viewer_type=ngl&button=#query'}6y2f
                %a{:href=>'/?queryId=6y2g&viewer_type=ngl&button=#query'}6y2g
                %a{:href=>'/?queryId=6y84&viewer_type=ngl&button=#query'}6y84

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP6
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP6
            %br
            %h5 Non-structural protein 6
            %br
            %p Description

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP7
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP7
            %br
            %h5 Non-structural protein 7
            %br
            %p Description

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP8
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP8
            %br
            %h5 Non-structural protein 8
            %br
            %p Description
            
      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP9
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP9
            %br
            %h5 Non-structural protein 9
            %br
            %p Description
            
      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP10
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP10
            %br
            %h5 Non-structural protein 10
            %br
            %p Description

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP11
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP11
            %br
            %h5 Non-structural protein 11
            %br
            %p Uncharacterized small protein

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP12
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray Pol/RdRp
            %br
            %h5 RNA-directed RNA polymerase
            %br
            %p RNA transcription and replication

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP13
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray Hel
            %br
            %h5 Helicase
            %br
            %p RNA transcription and replication

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP14
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray ExoN
            %br
            %h5 Guanine-N7 methyltransferase
            %br
            %p Non-structural protein 14
 
      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP15
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NendoU
            %br
            %h5 Uridylate-specific endoribonuclease
            %br
            %p Non-structural protein 15

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NSP16
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-gray NSP16
            %br
            %h5 Methyltransferase
            %br
            %p Description

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#S
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-large
            %a{:href=>'/?queryId=P0DTC2&viewer_type=ngl&button=#query'}
              = image_tag 'https://swissmodel.expasy.org/interactive/YxJyvF/models/01.png', alt: '', height: '150', width: '', class: 'w3-bar-item w3-circle'
              P0DTC2
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-cyan S
            %br
            %h5 S Glycoprotein
            %br
            %p Spike glycoprotein          
            %ul.w3-ul
              %li
                %a{:href=>'https://www.ncbi.nlm.nih.gov/protein/YP_009724390.1', target: '_blank'}
                YP_009724390.1
              %li
                %a{:href=>'https://covid-19.uniprot.org/uniprotkb/P0DTC2', target: '_blank'}
                  SPIKE_SARS2
              %li
                %a{:href=>'https://covid-19.uniprot.org/uniprotkb/P0DTC2', target: '_blank'}
                  SPIKE_WCPV

          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 PDB
            %ul.w3-ul
              %li
                %a{:href=>'/?queryId=6vsb&viewer_type=ngl&button=#query'}
                  6vsb
                  =image_tag("https://cdn.rcsb.org/images/rutgers/vs/6vsb/6vsb.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6lzg&viewer_type=ngl&button=#query'}
                  6lzg
                  =image_tag("https://cdn.rcsb.org/images/rutgers/lz/6lzg/6lzg.pdb1-500.jpg", height:100)
                .w3-tag.w3-round.w3-teal
                  %a{:href=>'https://pdb-redo.eu/db/6lzg', target: '_blank'} PDB-redo
              %li
                %a{:href=>'/?queryId=6vyb&viewer_type=ngl&button=#query'}
                  6vyb
                  =image_tag("https://cdn.rcsb.org/images/rutgers/vy/6vyb/6vyb.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6vw1&viewer_type=ngl&button=#query'}
                  6vw1
                  =image_tag("https://cdn.rcsb.org/images/rutgers/vw/6vw1/6vw1.pdb1-500.jpg", height:100)
                  .w3-tag.w3-round.w3-teal
                    %a{:href=>'https://pdb-redo.eu/db/6vw1', target: '_blank'} PDB-redo
                  .w3-tag.w3-round.w3-light-blue Isolde
              %li
                %a{:href=>'/?queryId=6m17&viewer_type=ngl&button=#query'}
                  6m17
                  =image_tag("https://cdn.rcsb.org/images/rutgers/m1/6m17/6m17.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6lvn&viewer_type=ngl&button=#query'}
                  6lvn
                  =image_tag("https://cdn.rcsb.org/images/rutgers/lv/6lvn/6lvn.pdb1-500.jpg", height:100)
                  .w3-tag.w3-round.w3-teal
                    %a{:href=>'https://pdb-redo.eu/db/6lvn', target: '_blank'} PDB-redo
                  .w3-tag.w3-round.w3-light-blue Isolde
              %li
                %a{:href=>'/?queryId=6vxx&viewer_type=ngl&button=#query'}
                  6vxx
                  =image_tag("https://cdn.rcsb.org/images/rutgers/vx/6vxx/6vxx.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6lxt&viewer_type=ngl&button=#query'}
                  6lxt
                  =image_tag("https://cdn.rcsb.org/images/rutgers/lx/6lxt/6lxt.pdb1-500.jpg", height:100)
                  .w3-tag.w3-round.w3-teal
                    %a{:href=>'https://pdb-redo.eu/db/6lxt', target: '_blank'} PDB-redo
                  .w3-tag.w3-round.w3-light-blue Isolde

          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 EMDB
            %ul.w3-ul
              %li
                %a{:href=>'/?queryId=EMD-21375&viewer_type=ngl&button=#query'}
                  EMD-21375
                  =image_tag("https://www.ebi.ac.uk/pdbe/static/entry/EMD-21375/400_21375.gif", height:100)
              %li
                %a{:href=>'/?queryId=EMD-21457&viewer_type=ngl&button=#query'}
                  EMD-21457
                  =image_tag("https://www.ebi.ac.uk/pdbe/static/entry/EMD-21457/400_21457.gif", height:100)
              %li
                %a{:href=>'/?queryId=EMD-30039&viewer_type=ngl&button=#query'}
                  EMD-30039
                  =image_tag("https://www.ebi.ac.uk/pdbe/static/entry/EMD-30039/400_30039.gif", height:100)
              %li
                %a{:href=>'/?queryId=EMD-21452&viewer_type=ngl&button=#query'}
                  EMD-21452
                  =image_tag("https://www.ebi.ac.uk/pdbe/static/entry/EMD-21452/400_21452.gif", height:100)

          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 Computational models (Swiss-Model)
            %ul.w3-ul
              %li
                %a{:href=>'https://swissmodel.expasy.org/interactive/7dVLxC/models/01', target: '_blank'}
                  =image_tag("https://swissmodel.expasy.org/interactive/7dVLxC/models/01.png", height:100)
              %li
                %a{:href=>'https://swissmodel.expasy.org/interactive/7dVLxC/models/02', target: '_blank'}
                  =image_tag("https://swissmodel.expasy.org/interactive/7dVLxC/models/02.png", height:100)
              %li
                %a{:href=>'https://swissmodel.expasy.org/interactive/7dVLxC/models/03', target: '_blank'}
                  =image_tag("https://swissmodel.expasy.org/interactive/7dVLxC/models/03.png", height:100)
              %li
                %a{:href=>'https://swissmodel.expasy.org/interactive/7dVLxC/models/04', target: '_blank'}
                  =image_tag("https://swissmodel.expasy.org/interactive/7dVLxC/models/04.png", height:100)
              %li
                %a{:href=>'https://swissmodel.expasy.org/interactive/7dVLxC/models/05', target: '_blank'}
                  =image_tag("https://swissmodel.expasy.org/interactive/7dVLxC/models/05.png", height:100)

          .w3-cell.w3-container.w3-border-left.w3-cell-top
            %h5 Related / Interacting  proteins
            %ul.w3-ul
              %li
                %p Mouse coronavirus
                %a{:href=>'/?queryId=EMD-21377&viewer_type=ngl&button=#query'}
                  EMD-21377
                  =image_tag("https://www.ebi.ac.uk/pdbe/static/entry/EMD-21377/400_21377.gif", height:100)
              %li
                %a{:href=>'/?queryId=6vsj&viewer_type=ngl&button=#query'}
                  6vsj
                  =image_tag("https://cdn.rcsb.org/images/rutgers/vs/6vsj/6vsj.pdb1-500.jpg", height:100)
              %li
                %a{:href=>'/?queryId=6m0j&viewer_type=ngl&button=#query'}
                  6m0j
                  =image_tag("https://cdn.rcsb.org/images/rutgers/m0/6m0j/6m0j.pdb1-500.jpg", height:100)
                  .w3-tag.w3-round.w3-teal
                    %a{:href=>'https://pdb-redo.eu/db/6m0j', target: '_blank'} PDB-redo
                  .w3-tag.w3-round.w3-light-blue Isolde
              %li
                %a{:href=>'/?queryId=6m18&viewer_type=ngl&button=#query'}
                  6m18
                  =image_tag("https://cdn.rcsb.org/images/rutgers/m1/6m18/6m18.pdb1-500.jpg", height:100)



      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS3a
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-amber 3A
            %br
            %h5 3a Protein
            %br
            %p Accessory protein 3a

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#E
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-purple E
            %br
            %h5 Envelope small membrane protein
            %br
            %p ESCRT-independent budding

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#M
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-blue M
            %br
            %h5 Membrane protein
            %br
            %p Virion morphegenesis

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS6
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-orange NS6
            %br
            %h5 Non-structural protein 6
            %br
            %p Non-structural protein 6

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS7a
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-orange NS7a
            %br
            %h5 Protein 7a
            %br
            %p Accessory protein 7a

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS7b
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-orange NS7b
            %br
            %h5 Protein 7b
            %br
            %p Non-structural protein 7b

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS8
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-brown NS8
            %br
            %h5 Protein 8
            %br
            %p Non-structural protein 8

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS9b
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-orange NS9b
            %br
            %h5 Protein 9b 
            %br
            %p Non-structural 9b, Accessory protein. Viral genome packaging

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#N
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-green N
            %br
            %h5 Nucleoprotein
            %br
            %p Nucleocapsid protein

      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS14
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-orange NS14
            %br
            %h5 Uncharacterized protein 14
            %br
            %p Description


      %li.prot_list_item
        .prot_card.w3-cell-row.w3-card.section#NS10
          .model_img.w3-cell.w3-cell-middle.w3-hide-small.w3-blue-gray.w3-center.w3-xxlarge
            &#9991
          .w3-cell.w3-container.w3-border-left.w3-cell-top
            #abrev.topic.w3-tag.w3-round.w3-red NS10
            %br
            %h5 ORF10 protein
            %br
            %p Hypothetical ORF10 protein

  .ws_lower_div
    %h4
      External data sources and collaborations
    %ul
      %li
        %a{:href=>'https://www.ebi.ac.uk/ena/pathogens/covid-19'} Pathogens: EMBL-EBI relating to the COVID-19 outbreak
      %li
        %a{:href=>'https://evosalut1.uv.es/'} NextSpain: Spanish site for Nextstrain: Consortium for Genomic Epidemiology of Pathogens.
      %li
        %a{:href=>'https://viralzone.expasy.org/8996'} SARS coronavirus 2 (SARS-CoV-2) proteome
      %li
        %a{:href=>'https://github.com/thorn-lab/coronavirus_structural_task_force'} A. Thon's Coronavirus Structural Task Force
      %li
        %a{:href=>'https://covid-19.uniprot.org/uniprotkb?query=*'} Latest available pre-release UniProtKB data for the SARS-CoV-2
      %li
        %a{:href=>'https://elixir-europe.org/covid-19-resources'} ELIXIR support for SARS-CoV-2 research
      %li
        %a{:href=>'https://www.ebi.ac.uk/covid-19'} EMBL-EBI COVID-19 Portal
      %li
        %a{:href=>'https://viralzone.expasy.org/8996'} SARS coronavirus 2 (SARS-CoV-2) proteome
        

.wait_div{:style=>'display:none'}
  %span.wait_text PLEASE BE PATIENT
  %br
  %br
  =image_tag("loading.gif",size:"300x300")
  %br
  %br
  %span.wait_text THIS PROCESS MAY TAKE A FEW MINUTES
