= stylesheet_link_tag('webserver/help_style.css')

.ws_main_div{:style=>"margin-top:20px;"}

  %div{:class=>"index1"}
    %a{:href=>"#accessing"} - ACCESING 3DBIONOTES

  %div{:class=>"index2"}
    %a{:href=>"#databases"} - EMDB, PDB OR UNIPROT ENTRY 

  %div{:class=>"index2"}
    %a{:href=>"#network"} - MULTIPLE UNIPROT ACCESIONS

  %div{:class=>"index2"}
    %a{:href=>"#submit"} - UPLOADING YOUR STRUCTURE FILE

  %div{:class=>"index2"}
    %a{:href=>"#ident"} - PROTEIN IDENTIFICATION

  %br
  %div{:class=>"index1"}
    %a{:href=>"#gui"} - GRAPHICAL USER INTERFACE

  %br
  %div{:class=>"index1"}
    %a{:href=>"#annot"} - ANNOTATIONS PANEL 

  %div{:class=>"index2"}
    %a{:href=>"#variant"} - VARIANT VIEWER 

  %br
  %div{:class=>"index1"}
    %a{:href=>"#seq"} - SEQUENCE PANEL

  %br
  %div{:class=>"index1"}
    %a{:href=>"#struct"} - STRUCTURE PANEL

  %br
  %div{:class=>"index1"}
    %a{:href=>"#other_panels"} - OTHER PANELS

  %div{:class=>"index2"}
    %a{:href=>"#gene_panel"} - GENE PANEL

  %div{:class=>"index2"}
    %a{:href=>"#ppi_panel"} - PPI PANEL

  %div{:class=>"index2"}
    %a{:href=>"#analysis_panel"} - ANALYSIS PANEL

  %br
  %div{:class=>"index1"}
    %a{:href=>"#ann_files"} - UPLOADING ANNOTATION FILES

  %br
  %div{:class=>"index1"}
    %a{:href=>"#adding"} - ADDING ANNOTATIONS

  %div{:class=>"index2"}
    %a{:href=>"#uploading"} - UPLOADING CUSTOM ANNOTATIONS FROM THE PROTEIN ANNOTATION VIEWER

  %div{:class=>"index2"}
    %a{:href=>"#transferring"} - TRANFERRING ANNOTATIONS

  %br
  %div{:class=>"index1", :id=>"how_to",  }
    %a{:href=>"#how_to"} - HOW TO ...

  %div{:class=>"index2"}
    %a{:target=>"_blank", :href=>"/tutorials/annotate_structure_tutorial1.pdf"} - ANNOTATE A PROTEIN STRUCTUE (.pdf)

  %div{:class=>"index2"}
    %a{:target=>"_blank", :href=>"/tutorials/annottaion_transfer_tutorial2.pdf"} - TRASNFER PROTEIN ANNOTATIONS (.pdf)

  %div{:class=>"index2"}
    %a{:target=>"_blank", :href=>"/tutorials/analysis_panel_tutorial3.pdf"} - USE THE CONTINGENCY ANALYSIS (.pdf)

  %div{:class=>"index2"}
    %a{:target=>"_blank", :href=>"/tutorials/ppi_network_analysis_tutorial4.pdf"} - USE THE NETWORK ANALYSIS (.pdf)

  %div{:class=>"index2"}
    %a{:target=>"_blank", :href=>"/tutorials/submit_custom_ann_tutorial5.pdf"} - UPLOAD CUSTOM ANNOTATIONS (.pdf)

  %br
  %br
  %br

  %div{:class=>"section", :id=>"accessing"}ACCESING 3DBIONOTES
  %div{:class=>"section_text"}
    Accessing 3DBIONOTES-WS can be done in two different ways: submitting a structure file or  querying the application by a PDB code, EMDB id or a UniProt accession. Both ways are available through two different web forms accessible from the web server main menu (Figure #{x=1}). The 'SUBMIT' option (Figure #{x}A) links with the structure model submission form and the 'QUERY' option (Figure #{x}B) is used to query  the application using a EMDB, PDB or UniProt entry. 
    %div{:class=>"section_image"}
      =image_tag("accessing.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"databases"}EMDB, PDB OR UNIPROT ENTRY
  %div{:class=>"section_text"}
    To query 3DBIONOTES-WS using a database ID type the PDB  code, EMDB id or UniProt accession in the text field (Figure #{x=x+1}A) and then click on the 'Submit' button.
    %div{:class=>"section_image"}
      =image_tag("databases.png")
      %div{:class=>"legend"}Figure #{x=x}

  %div{:class=>"section", :id=>"network"}MULTIPLE UNIPROT ACCESIONS
  %div{:class=>"section_text"}
    The information for multiple UniProt accession can requested in order to explore protein-protein interaction networks. To that end, first the organism of interest has to be selected using the select menu (Figure #{x=x+1}A); then, the UniProt accessions can be typed in the text panel (Figure #{x}B). If the checkbox (Figure #{x}C) is checked the application will also return the information for the interaction partners of the submitted proteins for which structural information is available. 
    %div{:class=>"section_image"}
      =image_tag("network_query.png")
      %div{:class=>"legend"}Figure #{x=x}

  %div{:class=>"section", :id=>"submit"}UPLOADING YOUR STRUCTURE
  %div{:class=>"section_text"}
    Uploading a structural model file can be easily done through a web form available clicking on the 'SUBMIT' option and using the file input fiedl to upload the corrdinates (figure #{x=x+1}A). The accepted file formats are
    %a{:href=>"http://www.wwpdb.org/documentation/file-format", :target=>"_blank"}PDB
    or
    %a{:href=>"http://mmcif.wwpdb.org/", :target=>"_blank"}mmCIF
    format. When the file is submited the system perfromes a BLAST search in order to identiffy the possible UniProt accessions of the submitted proteins. This step  can take a few minutes since UniProt - TrEMBL contains more than 40000000 of protein chains. The 'JOB TITLE' field (Figure #{x}B) is an optional text field that can be used to identiffy the macromolecular structure or project, when no data is provided the name of the structure file becomes the title of the project.
    %div{:class=>"section_image"}
      =image_tag("upload.png")
      %div{:class=>"legend"}Figure #{x}



  %div{:class=>"section", :id=>"ident"}PROTEIN IDENTIFICATION
  %div{:class=>"section_text"}
    When the structure file is submitted the web server performs a BLAST search against SwissProt and TrEMBL databases to find the potential proteins corresponding to the different chains that are contained in the structure. When this process is finished a new form (Figure #{x=x+1}) is returned to the user with the best hits to select the proper protein for each chain. This new form conatins a table for each chain and the user will be asked to chose a protein (table row) for each table. The different tables conatin next fields: (A) check button for the protein selection, (B) gene symbol, (C) protein name, (D) organism name, (F) UniProt accession, (G) sequence identity, (H) BLAST e-value, (I) seqeunce alignment start position and (L) sequence alignment end position. There is no need to select a protein for each chain; however, those chains that were not identified by the user will not be annotated. Once the desired proteins have been selected for the different chains clicking the 'Submit' button, then this information is sent back to the server and a sequence alignment between the chains and UniProt sequences are calculated.
    %div{:class=>"section_image"}
      =image_tag("ident.png")
      %div{:class=>"legend"}Figure #{x}



  %div{:class=>"section", :id=>"gui"}GRAPHICAL USER INTERFACE
  %div{:class=>"section_text"}
    The graphical interface comprises 3 different panels (Figure #{x=x+1}). The 3D panel (Figure #{x}A) is based on
    %a{:href=>"http://proteinformatics.charite.de/ngl/doc/#User_manual/Introduction/Welcome", :target=>"_blank"}NGL
    protein viewer and it displays the macromolecular structure submitted by the user. The viewers controls are explained in the
    %a{:href=>"#struct"}STRUCTURE PANEL
    section. The annotation panel (Figure #{x}B) is build on the
    %a{:href=>"http://ebi-uniprot.github.io/ProtVista/", :target=>"_blank"}ProtVista
    plug-in and shows the biomedical and biochemical data collected form  the different sources of information. Finally, the sequence panel (Figure #{x}C) represents the alignment between the selected UniProt sequence and the active chain of the structural model.
    %div{:class=>"section_image"}
      =image_tag("gui.png")
      %div{:class=>"legend"}Figure #{x}
    All these panels are interconnected and selecting an annotation or a sequence region will highlight the involved amino acids in the other panels (Figure #{x=x+1}). See  each of the  components for a more detailed explanation.
    %div{:class=>"section_image"}
      =image_tag("gui2.png")
      %div{:class=>"legend"}Figure #{x}



  %div{:class=>"section", :id=>"annot"}ANNOTATIONS PANEL
  %div{:class=>"section_text"}
    The annotation panel  comprises a set of different lanes where the biochemical and biomedical  annotations are represented using different shapes and colors (Figure #{x=x+1}). Currently the web server collects information from multiple sources: post-translational modifications (
    %a{:href=>"http://dbptm.mbc.nctu.edu.tw/", :target=>"_blank"}dbPTM 
    and
    %a{:href=>"http://www.phosphosite.org/homeAction.action", :target=>"_blank"}PhosphoSitePlus
    ), genomic variations and diseases (
    %a{:href=>"http://dsysmap.irbbarcelona.org/", :target=>"_blank"}dSysMap
    and 
    %a{:href=>"https://hive.biochemistry.gwu.edu/cgi-bin/prd/biomuta/servlet.cgi", :target=>"_blank"}BioMuta
    ), short linear motifs (
    %a{:href=>"http://elm.eu.org/", :target=>"_blank"}ELM
    ), disordered regions (
    %a{:href=>"http://mobidb.bio.unipd.it/", :target=>"_blank"}MobiDB
    ) and domain families (
    %a{:href=>"http://pfam.xfam.org/", :target=>"_blank"}Pfam
    ,
    %a{:href=>"http://prosite.expasy.org/", :target=>"_blank"}ProSite 
    and 
    %a{:href=>"http://smart.embl-heidelberg.de/", :target=>"_blank"}SMART
    ).
    %div{:class=>"section_image"}
      =image_tag("annot.png")
      %div{:class=>"legend"}Figure #{x}
    The different annotations can be selected clicking them, then the annotation panel will display a description of the selected annotation and the link to the original source or publication (Figure #{x=x+1}).
    %div{:class=>"section_image"}
      =image_tag("annot2.png")
      %div{:class=>"legend"}Figure #{x}
    Also,  when an  annotation  is selected the application will  display  the region in the sequence panel and highlight the amino acids in the 3d viewer (Figure #{x=x+1}).
    %div{:class=>"section_image"}
      =image_tag("annot3.png")
      %div{:class=>"legend"}Figure #{x}
    The annotation panel provides different options: download the displayed information, reset the annotation panel and zoom to the selected region  (Figure #{x=x+1}A, left to right).
    %div{:class=>"section_image"}
      =image_tag("annot4.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"variant"}VARIANT VIEWER
  %div{:class=>"section_text"}

    The variant viewer lane contains the genomic variants associated to the protein (Figure #{x=x+1}). The variants can  be filtered depending their consequences (disease, non-disease, predicted deleterious, ...) using the legend menu (Figure #{x}B). This viewer provides two different options: filter by disease and reset the variant panel (Figure #{x}A, left to right).
    %div{:class=>"section_image"}
      =image_tag("variant.png")
      %div{:class=>"legend"}Figure #{x}

    Clicking the disease filter (Figure #{x=x+1}A) will display a list of diseases associated to the variants (Figure #{x=x+1}B) and when clicking on one of the disease names the variant panel will display only those variants that are associated wit the disease.
    %div{:class=>"section_image"}
      =image_tag("variant2.png")
      %div{:class=>"legend"}Figure #{x}


  %div{:class=>"section", :id=>"seq"}SEQUENCE PANEL
  %div{:class=>"section_text"}
    The sequence panel shows the alignments between the chains in the structural model and their corresponding UniProt accessions that were selected in the identification step (Figure #{x=x+1}).
    %div{:class=>"section_image"}
      =image_tag("seq.png")
      %div{:class=>"legend"}Figure #{x}
    This frame allows the user to select a segment of the sequence to highlight their corresponding residues on the structural viewer and the corresponding region in the annotation panel  (Figure #{x=x+1}).
    %div{:class=>"section_image"}
      =image_tag("seq2.png")
      %div{:class=>"legend"}Figure #{x}


  %div{:class=>"section", :id=>"struct"}STRUCTURE PANEL
  %div{:class=>"section_text"}

    The 3D viewer displays the macromolecular structural model submitted or queried the server (Figure #{x=x+1}). The menu on the top of the panel (Figure #{x}A) can be use to select what subunit (protein) in the structure the annotations are visualized for. Also, it allows to change the representation of a selected annotation  and navigate through  the different model if the structure contains more than one.
    %div{:class=>"section_image"}
      =image_tag("struct.png")
      %div{:class=>"legend"}Figure #{x}

    The tool bar in the 3D viewer is comprised of two components (Figure #{x=x+1}). The select menu on the top is used to navigate through the different subunits or protein that  are contained in  the structural model. Changing this component will also change the annotation and sequence panels to show the information related the selected protein. From left to right, the icons on the bottom of the tool bar are used for: the clockwise arrow to reset all  the panels clearing the selections, the light icon  to change the representation of the selected residues, the eye icon display/hide the heteroatoms, the arrow  icons are used to navigate through the different models, the scope icon to mark and label  a selected annotation (see next), the menu icon to display the labeled annotations (see next) and finally, the camera icon to save an  image of the 3D  viewer.
    %div{:class=>"section_image"}
      =image_tag("struct2.png")
      %div{:class=>"legend"}Figure #{x}

    The scope icon (Figure #{x=x+1}) is used to label a  selected annotation on the 3D view of the structure. The label will indicate a short description of the annotation and its position, the color will be the same as in the annotation panel. The labels are not deleted when  a new selection is done or when any of the panels are reset. The user can  selected other subunits to annotate the 3D structure and all selected labels will be kept. To remove,  hide or display the selected labels has to be done with the menu icon  (see next). 
    %div{:class=>"section_image"}
      =image_tag("struct3.png")
      %div{:class=>"legend"}Figure #{x}

    The menu icon (Figure #{x=x+1}) is used to list all the current selected labels in the 3D viewer. When  clicked a list of the current labels is displayed. Each label in the list is preceded of two  checkboxes and a close icon. The first checkbox is used to display/hide  the text of the label, the second checkbox to display/hide the label representation on  the structure and the close icon  to  completely  remove the label  
    %div{:class=>"section_image"}
      =image_tag("struct4.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"other_panels" }OTHER PANELS
  %div{:class=>"section_text"}

  %div{:class=>"section", :id=>"gene_panel" }GENE PANEL
  %div{:class=>"section_text"}
    The gene panel (Figure #{x=x+1}) displays the information collected from ENSEMBL database. The panel header (Figure #{x}A) contains the title, assembly and coordinates of the ENSEMBL gene associated to the selected protein. The select menu (Figure #{x}B) is used to select among the different ENSEMBL transcripts associated to the gene. The checkboxes (Figure #{x}C) can be used to hide or display the different panel tracks (Figure #{x}D). From top to bottom the different tracks displays: (POS STRAND) positive sequence of the DNA gene. (NEG STRAND) negative sequence of the DNA gene. (PROTEIN SEQ) sequence of the protein. (KRAS-202) exons of the current selected transcript, in this example  KRAS-202. (CODING REGION) transcript regions that are translated. (UNIPROT ALIGN) regions that can be aligned with the associated UniProt sequence. 
    %div{:class=>"section_image"}
      =image_tag("gene_panel.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"ppi_panel" }PPI PANEL
  %div{:class=>"section_text"}
    Protein-protein interaction networks are displayed using a graph-based representation (Figure #{x=x+1}). In this graph nodes represent proteins and edges interaction among them. The color code indicates the source of the structural information: blue if is compiled from experimental data, yellow if comes from homology models or gray when structural data is not available. At the same time, yellow edges can be drawn as a continuous or discontinuous  line depending whether the structure was predicted from sequence homology modeling or domain-domain interaction templates.
    %div{:class=>"section_image"}
      =image_tag("ppi_panel.png")
      %div{:class=>"legend"}Figure #{x}
    The “FEATURES” menu located on the top right side of the GUI (Figure #{x=x+1}A) can be used to map annotations on the network.
    %div{:class=>"section_image"}
      =image_tag("ppi_panel_features.png")
      %div{:class=>"legend"}Figure #{x}

    The "FILTER *" menu (Figure #{x=x+1}A) can be used to hide and display specific annotations. 
    %div{:class=>"section_image"}
      =image_tag("ppi_panel_variants.png")
      %div{:class=>"legend"}Figure #{x}

    For example, in Figure (Figure #{x=x+1}) only annotations associated to “Colorectal cancer” are displayed.
    %div{:class=>"section_image"}
      =image_tag("ppi_panel_colorectal.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"analysis_panel" }ANALYSIS PANEL
  %div{:class=>"section_text"}
    The analysis panel displays those diseases for which the cooccurrence of their associated variants with a specific biochemical feature is statistically significant when Fisher’s exact test is computed. The statistically significance is defined in terms of Fisher’s exact test p-value and the Benjamini–Hochberg procedure with a false discovery rate of 1% to control the amount of false positives or Type I error. This information is displayed in two different tracks (Figure #{x=x+1}): the first track displays the biochemical feature regions (Figure #{x}A) and the second track the list of diseases with the results of Fisher’s exact test (Figure #{x}B) and the genomic variants (Figure #{x}C) using a colour code of red, if they are within the selected biochemical feature region ('Nucleotide Binding Site', in this case), or grey, if they are outside. 
    %div{:class=>"section_image"}
      =image_tag("analysis_panel.png")
      %div{:class=>"legend"}Figure #{x}

    Variants can be filtered by disease in such a way that only variants for the selected diseases are visible. For example, in Figure #{x=x+1} only variants associated to 'Colorectal cancer' are visible.
    %div{:class=>"section_image"}
      =image_tag("analysis_colorectal.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"ann_files" }UPLOADING ANNOTATION FILES
  %div{:class=>"section_text"}
    A custom annotation file can be attached when requesting information to 3DBIONOTES. Annotation files must be submitted in 
    %a{target:"blank_",href:"https://3dbionotes.cnb.csic.es/4g3x_ann_full_example.json"}JSON 
    format (Figure #{x=x+1}). An array must contain all the annotations. Each annotation (Figure #{x}A) encodes the information as a hash. The “track_name” key indicates the name of the lane that will appear in the annotation viewer. The key “visualization_type” is used to choose the type of data: “variants”, “continuous” or segments when the “visualization_type” is not present. Then the “chain” key indicates that the annotations are associated to the PDB chain and when the “acc” key is available (Figure #{x}B) means that the annotation are associated to proteins with this accession. Finally, “data” contains an array describing the positions in the sequence, value, amino acid variation and wild type, type (sub-track name in the annotation viewer) and a description. All analysis tools and viewers are available for the attached annotations.
    %div{:class=>"section_image"}
      =image_tag("annotation_format.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"adding" }ADDING ANNOTATIONS
  %div{:class=>"section_text"}
    The annotation panel provide different tools to add custom annotations or to transfer them from similar proteins. This tools are available on the annotation  pane 'MENU' (Figure  #{x=x+1}).
    %div{:class=>"section_image"}
      =image_tag("import_upload_menu.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"uploading" }UPLOADING CUSTOM ANNOTATIONS FROM THE PROTEIN ANNOTATION VIEWER
  %div{:class=>"section_text"}
    %span{style:"color:red;font-weight:bold;"}WARNING:
    %span{style:"font-weight:bold;"}This annotations will not be included in the genomic variant analysis and viewers.
    %br
    Adding your annotations can be done in two different ways: uploading a file (Figure #{x=x+1}A)  or manually (Figure #{x}B). Uploaded files must  be in JSON  format, <a href="/upload_annotations.txt" target="_blank" >here</a>  you can find an example and description of the format. Adding an annotation manually only requires to fill the form displayed in the Figure #{x}B. The 'COLOR' field describes the annotation color using its name (e.g. red, orange, pink) or hexadecimal number (e.g. #FF0000, #C345D8). The 'INDEX' selector is used to select the desired coordinates, thus if 'INDEX'  value is 'SEQUENCE' 'BEGIN' and  'END' values will be related to the sequence positions  while in  'INDEX' value is structure will  be related to the residues id of the PDB structure.
    %div{:class=>"section_image"}
      =image_tag("upload_menu.png")
      %div{:class=>"legend"}Figure #{x}
    When new annotations are added new tracks  containing them  will be displayed and the new annotations will behave as the native ones (Figure #{x=x+1}).
    %div{:class=>"section_image"}
      =image_tag("manually_annotated.png")
      %div{:class=>"legend"}Figure #{x}

  %div{:class=>"section", :id=>"transferring" }TRANFERRING ANNOTATIONS
  %div{:class=>"section_text"}
    Annotations can  be transferred from  other proteins that share at least 80% of sequence similarity with the target protein. Transferring annotation from similar proteins can  be done through the annotation menu (Figure 20). When clicking on 'TRANSFER ANNOTATIONS FROM SIMILAR PROTEINS', the application will display a table containing a list of proteins that  share at least 80% of sequence similarity (Figure #{x=x+1}). Each row of the table displays: (A) gene symbol,  (B) protein name, (C) organism name, (D) UniProt accession, (E) number of UniProt annotations  and (F) sequence identity.
    %div{:class=>"section_image"}
      =image_tag("import_menu.png")
      %div{:class=>"legend"}Figure #{x}
    When a protein is selected the application will  update the annotation  and sequence panel (Figure #{x=x+1}). The sequence panel will now contain an alignment between 3 sequences (Figure #{x}A): the first sequence is the original sequence (target protein), the second sequence is the structure chain and the third sequence is the selected protein to transfer annotations from. The annotation panel  will  display the annotation  for the selected protein, and now when an  annotation is selected its tooltip will  display  a button on the right site of its title  displaying 'TRANSFER'. Clicking this button will transfer the annotation to  the target protein. Also,  the annotation panel will  include a selector (Figure #{x}C) to navigate through the different imported  proteins.
    %div{:class=>"section_image"}
      =image_tag("transferring1.png")
      %div{:class=>"legend"}Figure #{x}

    Annotations can  be transferred from multiple proteins. The  selector on the top of the annotation menu (Figure #{x=x+1}A) shows all imported proteins and the target protein, to display the target protein were the selected annotations have been transferred to we have to select the original protein in the selector, the first item (Figure #{x=x+1}A).
    %div{:class=>"section_image"}
      =image_tag("transferring2.png")
      %div{:class=>"legend"}Figure #{x}
    The transferred annotations are displayed in a track named 'Imported annotations' and grouped by their type (Figure #{x}B). When  a transferred annotation is selected a warning message displaying the protein source of the annotation  will appear in its tooltip (Figure #{x}C).
    %div{:class=>"section_image"}
      =image_tag("transferring3.png")
      %div{:class=>"legend"}Figure #{x}


  %br
  %br
  %br
