.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container
    .contentBox
      .contentTitle
        %h4 Help Index
      .contentData.helpContents
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis
          aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        %ul.list-unstyled
          %li.first
            %a.h5.w3-link{:href => "#accessing"}
              %strong ACCESING 3DBIONOTES
          %li
            %a{:href => "#databases"} EMDB, PDB or UNIPROT entry
          %li
            %a{:href => "#network"} Multiple UNIPROT Accesions
          %li
            %a{:href => "#submit"} Uploading your structure file
          %li
            %a.d-block{:href => "#ident"} Protein Identification
          %li.first
            %a.h5.w3-link{:href => "#gui"}
              %strong GRAPHICAL USER INTERFACE
              %br/
          %li.first
            %a.h5.w3-link{:href => "#annot"}
              %strong ANNOTATIONS PANEL
              %br/
          %li
            %a{:href => "#variant"} Variant viewer
          %li.first
            %a.h5.w3-link{:href => "#seq"}
              %strong SEQUENCE PANEL
              %br/
          %li.first
            %a.h5.w3-link{:href => "#struct"}
              %strong STRUCTURE PANEL
              %br/
          %li.first
            %a.h5.w3-link{:href => "#other_panels"}
              %strong> OTHER
               PANELS
              %br/
          %li
            %a{:href => "#gene_panel"} Gene panel
          %li
            %a{:href => "#ppi_panel"} PPI panel
          %li
            %a{:href => "#analysis_panel"} Analysis panel
          %li.first
            %a.h5.w3-link{:href => "#ann_files"}
              %strong UPLOADING ANNOTATION FILES
              %br/
          %li.first
            %a.h5.w3-link{:href => "#adding"}
              %strong ADDING ANNOTATION
              %br/
          %li
            %a{:href => "#uploading"} Uploading custom annotations from the Protein Annotation Viewer
          %li
            %a{:href => "#transferring"} Transferring annotations
        %h4 How to...
        %ul.list-unstyled
          %li
            %a.d-block{:href => "#uploading"}
              %i.fa.fa-file-pdf-o>
              Annotate a protein structure (PDF)
          %li
            %a.d-block{:href => "#uploading"}
              %i.fa.fa-file-pdf-o>
              Transfer protein annotations (PDF)
          %li
            %a.d-block{:href => "#uploading"}
              %i.fa.fa-file-pdf-o>
              Use the contingency analysis (PDF)
          %li
            %a.d-block{:href => "#uploading"}
              %i.fa.fa-file-pdf-o>
              Use the network analysis (PDF)
          %li
            %a.d-block{:href => "#uploading"}
              %i.fa.fa-file-pdf-o>
              Upload custom annotations (PDF)
    .contentBox
      .contentTitle
        %h4 Help contents
      .contentData.helpContents
        %h3#accessing.anchorLink Accesing 3DBIONOTES
        %p
          Accessing 3DBIONOTES-WS can be done in two different ways: submitting a structure file or querying the application by a PDB code, EMDB id or a UniProt accession. Both ways are available through two different web forms accessible from
          the web server main menu (Figure 1). The 'SUBMIT' option (Figure 1A) links with the structure model submission form and the 'QUERY' option (Figure 1B) is used to query the application using a EMDB, PDB or UniProt entry.
        .col
          .row
            .col-md-10.col-lg-8.mx-auto
              %figure.figure
                %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/accessing.png"}
                  %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/accessing.png"}/
                %figcaption.figure-caption.text-center Figure 1
        %h4#databases.anchorLink EMDB, PDB or UNIPROT entry
        %p To query 3DBIONOTES-WS using a database ID type the PDB code, EMDB id or UniProt accession in the text field (Figure 2A) and then click on the 'Submit' button.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/databases.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/databases.png"}/
              %figcaption.figure-caption.text-center Figure 2
        %h4#network.anchorLink Multiple UNIPROT Accesions
        %p
          The information for multiple UniProt accession can requested in order to explore protein-protein interaction networks. To that end, first the organism of interest has to be selected using the select menu (Figure 3A); then, the UniProt
          accessions can be typed in the text panel (Figure 3B). If the checkbox (Figure 3C) is checked the application will also return the information for the interaction partners of the submitted proteins for which structural information
          is available.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/network_query.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/network_query.png"}/
              %figcaption.figure-caption.text-center Figure 3
        %h4#submit.anchorLink Uploading your structure
        %p
          Uploading a structural model file can be easily done through a web form available clicking on the 'SUBMIT' option and using the file input fiedl to upload the corrdinates (figure 4A). The accepted file formats are PDB or mmCIF format.
          When the file is submited the system perfromes a BLAST search in order to identiffy the possible UniProt accessions of the submitted proteins. This step can take a few minutes since UniProt - TrEMBL contains more than 40000000 of protein
          chains. The 'JOB TITLE' field (Figure 4B) is an optional text field that can be used to identiffy the macromolecular structure or project, when no data is provided the name of the structure file becomes the title of the project.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/upload.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/upload.png"}/
              %figcaption.figure-caption.text-center Figure 4
        %h4#ident.anchorLink Protein identification
        %p
          When the structure file is submitted the web server performs a BLAST search against SwissProt and TrEMBL databases to find the potential proteins corresponding to the different chains that are contained in the structure. When this process
          is finished a new form (Figure 5) is returned to the user with the best hits to select the proper protein for each chain. This new form conatins a table for each chain and the user will be asked to chose a protein (table row) for each
          table. The different tables conatin next fields: (A) check button for the protein selection, (B) gene symbol, (C) protein name, (D) organism name, (F) UniProt accession, (G) sequence identity, (H) BLAST e-value, (I) seqeunce alignment
          start position and (L) sequence alignment end position. There is no need to select a protein for each chain; however, those chains that were not identified by the user will not be annotated. Once the desired proteins have been selected
          for the different chains clicking the 'Submit' button, then this information is sent back to the server and a sequence alignment between the chains and UniProt sequences are calculated.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/ident.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/ident.png"}/
              %figcaption.figure-caption.text-center Figure 5
        %h3#gui.anchorLink Graphical User Interface
        %p
          The graphical interface comprises 3 different panels (Figure 6). The 3D panel (Figure 6A) is based on 
          %a{:href => "http://proteinformatics.charite.de/ngl/doc/#User_manual/Introduction/Welcome"}> NGL
           protein viewer and it displays the
          macromolecular structure submitted by the user. The viewers controls are explained in the 
          %a{:href => "http://localhost:3000/ws/help#struct"}> STRUCTURE PANEL
           section. The annotation panel (Figure 6B) is build on the 
          %a{:href => "http://ebi-uniprot.github.io/ProtVista/"}> ProtVista
           plug-in
          and shows the biomedical and biochemical data collected form the different sources of information. Finally, the sequence panel (Figure 6C) represents the alignment between the selected UniProt sequence and the active chain of the structural
          model.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/gui.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/gui.png"}/
              %figcaption.figure-caption.text-center Figure 6
        %p All these panels are interconnected and selecting an annotation or a sequence region will highlight the involved amino acids in the other panels (Figure 7). See each of the components for a more detailed explanation.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/gui2.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/gui2.png"}/
              %figcaption.figure-caption.text-center Figure 7
        %h3#annot.anchorLink Annotations panel
        %p
          The annotation panel comprises a set of different lanes where the biochemical and biomedical annotations are represented using different shapes and colors (Figure 8). Currently the web server collects information from multiple sources: post-translational
          modifications ( 
          %a{:href => "http://dbptm.mbc.nctu.edu.tw/"}> dbPTM
           and 
          %a{:href => "http://www.phosphosite.org/homeAction.action"}> PhosphoSitePlus
           ), genomic variations and diseases ( 
          %a{:href => "http://dsysmap.irbbarcelona.org/"}> dSysMap
           and 
          = succeed "\u{a0})," do
            %a{:href => "https://hive.biochemistry.gwu.edu/cgi-bin/prd/biomuta/servlet.cgi"} BioMuta
          = succeed "\u{a0})," do
            %a{:href => "http://elm.eu.org/"} ELM
          = succeed "\u{a0})" do
            %a{:href => "http://mobidb.bio.unipd.it/"} MobiDB
          = succeed "\u{a0},\u{a0}" do
            %a{:href => "http://pfam.xfam.org/"} Pfam
          = succeed "\u{a0}and\u{a0}" do
            %a{:href => "http://prosite.expasy.org/"} ProSite
          = succeed "\u{a0})." do
            %a{:href => "http://smart.embl-heidelberg.de/"} SMART
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/annot.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/annot.png"}/
              %figcaption.figure-caption.text-center Figure 8
        %p The different annotations can be selected clicking them, then the annotation panel will display a description of the selected annotation and the link to the original source or publication (Figure 9).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/annot2.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/annot2.png"}/
              %figcaption.figure-caption.text-center Figure 9
        %p Also, when an annotation is selected the application will display the region in the sequence panel and highlight the amino acids in the 3d viewer (Figure 10).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/annot3.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/annot3.png"}/
              %figcaption.figure-caption.text-center Figure 10
        %p The annotation panel provides different options: download the displayed information, reset the annotation panel and zoom to the selected region (Figure 11A, left to right).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/annot4.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/annot4.png"}/
              %figcaption.figure-caption.text-center Figure 11
        %h4#variant.anchorLink Variant Viewer
        %p
          The variant viewer lane contains the genomic variants associated to the protein (Figure 12). The variants can be filtered depending their consequences (disease, non-disease, predicted deleterious, ...) using the legend menu (Figure 12B). This
          viewer provides two different options: filter by disease and reset the variant panel (Figure 12A, left to right).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/variant.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/variant.png"}/
              %figcaption.figure-caption.text-center Figure 12
        %p Clicking the disease filter (Figure 13A) will display a list of diseases associated to the variants (Figure 14B) and when clicking on one of the disease names the variant panel will display only those variants that are associated wit the disease.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/variant2.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/variant2.png"}/
              %figcaption.figure-caption.text-center Figure 14
        %h3#seq.anchorLink Sequence panel
        %p The sequence panel shows the alignments between the chains in the structural model and their corresponding UniProt accessions that were selected in the identification step (Figure 15).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/seq.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/seq.png"}/
              %figcaption.figure-caption.text-center Figure 15
        %p This frame allows the user to select a segment of the sequence to highlight their corresponding residues on the structural viewer and the corresponding region in the annotation panel (Figure 16).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/seq2.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/seq2.png"}/
              %figcaption.figure-caption.text-center Figure 16
        %h3#struct.anchorLink Structure panel
        %p
          The 3D viewer displays the macromolecular structural model submitted or queried the server (Figure 17). The menu on the top of the panel (Figure 17A) can be use to select what subunit (protein) in the structure the annotations are visualized for.
          Also, it allows to change the representation of a selected annotation and navigate through the different model if the structure contains more than one.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/struct.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/struct.png"}/
              %figcaption.figure-caption.text-center Figure 17
        %p
          The tool bar in the 3D viewer is comprised of two components (Figure 18). The select menu on the top is used to navigate through the different subunits or protein that are contained in the structural model. Changing this component will also change
          the annotation and sequence panels to show the information related the selected protein. From left to right, the icons on the bottom of the tool bar are used for: the clockwise arrow to reset all the panels clearing the selections, the light
          icon to change the representation of the selected residues, the eye icon display/hide the heteroatoms, the arrow icons are used to navigate through the different models, the scope icon to mark and label a selected annotation (see next), the
          menu icon to display the labeled annotations (see next) and finally, the camera icon to save an image of the 3D viewer.
        .row
          .col-md-10.col-lg-8.text-center.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/struct2.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/struct2.png"}/
              %figcaption.figure-caption.text-center Figure 18
        %p
          The scope icon (Figure 19) is used to label a selected annotation on the 3D view of the structure. The label will indicate a short description of the annotation and its position, the color will be the same as in the annotation panel. The labels
          are not deleted when a new selection is done or when any of the panels are reset. The user can selected other subunits to annotate the 3D structure and all selected labels will be kept. To remove, hide or display the selected labels has to
          be done with the menu icon (see next).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/struct3.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/struct3.png"}/
              %figcaption.figure-caption.text-center Figure 19
        %p
          The menu icon (Figure 20) is used to list all the current selected labels in the 3D viewer. When clicked a list of the current labels is displayed. Each label in the list is preceded of two checkboxes and a close icon. The first checkbox is used
          to display/hide the text of the label, the second checkbox to display/hide the label representation on the structure and the close icon to completely remove the label
        .row
          .col-md-10.col-lg-8.text-center.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/struct4.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/struct4.png"}/
              %figcaption.figure-caption.text-center Figure 20
        %h3#other_panels.anchorLink Other panels
        %h4#gene_panel.anchorLink Gene panel
        %p
          The gene panel (Figure 21) displays the information collected from ENSEMBL database. The panel header (Figure 21A) contains the title, assembly and coordinates of the ENSEMBL gene associated to the selected protein. The select menu (Figure 21B)
          is used to select among the different ENSEMBL transcripts associated to the gene. The checkboxes (Figure 21C) can be used to hide or display the different panel tracks (Figure 21D). From top to bottom the different tracks displays: (POS STRAND)
          positive sequence of the DNA gene. (NEG STRAND) negative sequence of the DNA gene. (PROTEIN SEQ) sequence of the protein. (KRAS-202) exons of the current selected transcript, in this example KRAS-202. (CODING REGION) transcript regions that
          are translated. (UNIPROT ALIGN) regions that can be aligned with the associated UniProt sequence.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/gene_panel.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/gene_panel.png"}/
              %figcaption.figure-caption.text-center Figure 21
        %h4#ppi_panel.anchorLink PPI panel
        %p
          Protein-protein interaction networks are displayed using a graph-based representation (Figure 22). In this graph nodes represent proteins and edges interaction among them. The color code indicates the source of the structural information: blue
          if is compiled from experimental data, yellow if comes from homology models or gray when structural data is not available. At the same time, yellow edges can be drawn as a continuous or discontinuous line depending whether the structure was
          predicted from sequence homology modeling or domain-domain interaction templates.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/ppi_panel.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/ppi_panel.png"}/
              %figcaption.figure-caption.text-center Figure 22
        %p The “FEATURES” menu located on the top right side of the GUI (Figure 23A) can be used to map annotations on the network.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/ppi_panel_features.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/ppi_panel_features.png"}/
              %figcaption.figure-caption.text-center Figure 23
        %p The "FILTER *" menu (Figure 24A) can be used to hide and display specific annotations.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/ppi_panel_variants.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/ppi_panel_variants.png"}/
              %figcaption.figure-caption.text-center Figure 24
        %p For example, in Figure (Figure 25) only annotations associated to “Colorectal cancer” are displayed.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/ppi_panel_colorectal.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/ppi_panel_colorectal.png"}/
              %figcaption.figure-caption.text-center Figure 25
        %h4#analysis_panel.anchorLink Analysis panel
        %p
          The analysis panel displays those diseases for which the cooccurrence of their associated variants with a specific biochemical feature is statistically significant when Fisher’s exact test is computed. The statistically significance is defined
          in terms of Fisher’s exact test p-value and the Benjamini–Hochberg procedure with a false discovery rate of 1% to control the amount of false positives or Type I error. This information is displayed in two different tracks (Figure 26): the
          first track displays the biochemical feature regions (Figure 26A) and the second track the list of diseases with the results of Fisher’s exact test (Figure 26B) and the genomic variants (Figure 26C) using a colour code of red, if they are
          within the selected biochemical feature region ('Nucleotide Binding Site', in this case), or grey, if they are outside.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/analysis_panel.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/analysis_panel.png"}/
              %figcaption.figure-caption.text-center Figure 26
        %p Variants can be filtered by disease in such a way that only variants for the selected diseases are visible. For example, in Figure 27 only variants associated to 'Colorectal cancer' are visible.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/analysis_colorectal.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/analysis_colorectal.png"}/
              %figcaption.figure-caption.text-center Figure 27
        %h3#ann_files.anchorLink Uploading annotation files
        %p
          A custom annotation file can be attached when requesting information to 3DBIONOTES. Annotation files must be submitted in 
          %a{:href => "https://3dbionotes.cnb.csic.es/4g3x_ann_full_example.json"}> JSON
           format (Figure 28). An array must
          contain all the annotations. Each annotation (Figure 28A) encodes the information as a hash. The “track_name” key indicates the name of the lane that will appear in the annotation viewer. The key “visualization_type” is used to choose the
          type of data: “variants”, “continuous” or segments when the “visualization_type” is not present. Then the “chain” key indicates that the annotations are associated to the PDB chain and when the “acc” key is available (Figure 28B) means that
          the annotation are associated to proteins with this accession. Finally, “data” contains an array describing the positions in the sequence, value, amino acid variation and wild type, type (sub-track name in the annotation viewer) and a description.
          All analysis tools and viewers are available for the attached annotations.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/annotation_format.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/annotation_format.png"}/
              %figcaption.figure-caption.text-center Figure 28
        %h3#adding.anchorLink Adding annotations
        %p The annotation panel provide different tools to add custom annotations or to transfer them from similar proteins. This tools are available on the annotation pane 'MENU' (Figure 29).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/import_upload_menu.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/import_upload_menu.png"}/
              %figcaption.figure-caption.text-center Figure 29
        %h4#uploading.anchorLink Uploading custom annotations from the protein annotation viewer
        %p
          %strong> WARNING:
           
          %strong This annotations will not be included in the genomic variant analysis and viewers.
          = succeed "Adding" do
            %br/
          = succeed "\u{a0}you" do
            %a{:href => "http://localhost:3000/upload_annotations.txt"} here
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/upload_menu.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/upload_menu.png"}/
              %figcaption.figure-caption.text-center Figure 30
        %p When new annotations are added new tracks containing them will be displayed and the new annotations will behave as the native ones (Figure 31).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/manually_annotated.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/manually_annotated.png"}/
              %figcaption.figure-caption.text-center Figure 31
        %h4#transferring.anchorLink Transferring annotations
        %p
          Annotations can be transferred from other proteins that share at least 80% of sequence similarity with the target protein. Transferring annotation from similar proteins can be done through the annotation menu (Figure 20). When clicking on 'TRANSFER
          ANNOTATIONS FROM SIMILAR PROTEINS', the application will display a table containing a list of proteins that share at least 80% of sequence similarity (Figure 32). Each row of the table displays: (A) gene symbol, (B) protein name, (C) organism
          name, (D) UniProt accession, (E) number of UniProt annotations and (F) sequence identity.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/import_menu.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/import_menu.png"}/
              %figcaption.figure-caption.text-center Figure 32
        %p
          When a protein is selected the application will update the annotation and sequence panel (Figure 33). The sequence panel will now contain an alignment between 3 sequences (Figure 33A): the first sequence is the original sequence (target protein),
          the second sequence is the structure chain and the third sequence is the selected protein to transfer annotations from. The annotation panel will display the annotation for the selected protein, and now when an annotation is selected its tooltip
          will display a button on the right site of its title displaying 'TRANSFER'. Clicking this button will transfer the annotation to the target protein. Also, the annotation panel will include a selector (Figure 33C) to navigate through the different
          imported proteins.
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/transferring1.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/transferring1.png"}/
              %figcaption.figure-caption.text-center Figure 33
        %p
          Annotations can be transferred from multiple proteins. The selector on the top of the annotation menu (Figure 34A) shows all imported proteins and the target protein, to display the target protein were the selected annotations have been transferred
          to we have to select the original protein in the selector, the first item (Figure 35A).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/transferring2.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/transferring2.png"}/
              %figcaption.figure-caption.text-center Figure 34
        %p
          The transferred annotations are displayed in a track named 'Imported annotations' and grouped by their type (Figure 35B). When a transferred annotation is selected a warning message displaying the protein source of the annotation will appear in
          its tooltip (Figure 35C).
        .row
          .col-md-10.col-lg-8.mx-auto
            %figure.figure
              %a{"data-gallery" => "gallery", "data-toggle" => "lightbox", :href => "/assets/transferring3.png"}
                %img.img-fluid.img-thumbnail.mx-auto.d-block{:src => "/assets/transferring3.png"}/
              %figcaption.figure-caption.text-center Figure 35
