= render partial: "shared/wip"

.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.contentBox
    .contentTitle
      %h4 Network
    .contentData
      %p
        In order to calculate Protein-protein interaction networks please, select the species and provide a list of protein identifiers.
      %label{:style => "font-weight: bold;"} Select species
      = form_tag({controller: "main", action: "network_build"}, :multipart => true, :method => :post,id: "query_form",:style=>"max-width: 400px;") do
        %select.custom-select{:id=>"prot_organisms", :name=>"dataset"}
          %optgroup{:label => "List of species"}
            %option{:value => "athaliana"} Arabidopsis thaliana
            %option{:value => "bsubtilis"} Bacillus subtilis
            %option{:value => "btaurus"} Bos taurus
            %option{:value => "celegans"} Caenorhabditis elegans
            %option{:value => "cjejuni"} Campylobacter jejuni
            %option{:value => "fly"} Drosophila melanogaster
            %option{:value => "ecoli"} Escherichia coli
            %option{:value => "hpylori"} Helicobacter pylori
            %option{:selected => "selected", :value => "human"} Homo sapiens
            %option{:value => "mouse"} Mus musculus
            %option{:value => "mtuberculosis"} Mycobacterium tuberculosis
            %option{:value => "mpneumoniae"} Mycoplasma pneumoniae
            %option{:value => "pfalciparum"} Plasmodium falciparum
            %option{:value => "rat"} Rattus norvegicus
            %option{:value => "yeast"} Saccharomyces cerevisiae
            %option{:value => "spombe"} Schizosaccharomyces pombe
            %option{:value => "ssp"} Synechocystis sp. (strain PCC 6803 / Kazusa)
            %option{:value => "tpallidum"} Treponema pallidum
        %label{:style => "font-weight: bold;"} Enter a list of UniProt accession
        %span{id:"network_example"}
          %small Example
        = text_area_tag(:queryId,content=nil, options={rows: 6, class: "form-control"})
        = hidden_field_tag(:viewer_type,@viewerType)
        .form-check
          = check_box(:has_structure_flag, "flag", {checked:false, class: "form-check-input"}, "yes", "no")
          %label.form-check-label{:for => "has_structure_flag_flag"} Include neighbours with structural data
        %label.d-block{:style => "font-weight: bold;"} Upload your annotations
        = file_field_tag(:annotations_file, {style:"font-size:12px;"})
        %button.btn.btn-primary.d-block{:type => "submit"} Submit
