= render partial: "shared/wip"

.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.contentBox
    .contentTitle
      %h4 Query
    .contentData
      = form_tag({controller: "main", action: "home",anchor: "query"}, :method => :post, :multipart => true, id: "query_form",:style=>"max-width:500px;") do
        %label.d-block{:style => "font-weight: bold;"}
          Search by 
          %a{:href => "javascript:window.open('http://www.emdatabank.org/')"}> EMDB
           code, 
          %a{:href => "javascript:window.open('http://www.rcsb.org/')"}> PDB
           ID or 
          %a{:href => "javascript:window.open('http://www.uniprot.org/')"}> Uniprot
           accession
        = text_field_tag(:queryId, "", {class: "form-control"})
        = hidden_field_tag(:viewer_type, @viewerType)
        %label.d-block{:style => "font-weight: bold;"} Upload your annotations
        = file_field_tag(:annotations_file)
        %button.btn.btn-primary.d-block{:type => "submit"} Submit
      %h5{:style => "margin-top: 20px;margin-bottom: 9px;"} A few examples (related to COVID-19 outbreak):
      %p
        %a{:href => "/?queryId=EMD-21375&viewer_type=ngl&button=#query"} Prefusion 2019-nCoV spike glycoprotein with a single receptor-binding domain up (EMD-21375)
        %br/
        %a{:href => "/?queryId=EMD-30210&viewer_type=ngl&button=#query"} The nsp12-nsp7-nsp8 complex bound to the template-primer RNA and triphosphate form of Remdesivir(RTP) (EMD-30210)
        %br/
        %a{:href => "/?queryId=6LZG&viewer_type=ngl&button=#query"} Structure of novel coronavirus spike receptor-binding domain complexed with its receptor ACE2
        %br/
        %a{:href => "/?queryId=6W9C&viewer_type=ngl&button=#query"} The crystal structure of papain-like protease of SARS CoV-2

  .wait_div{:style=>'display:none'}
    %span.wait_text PLEASE BE PATIENT
    %br
    %br
    =image_tag("loading.gif",size:"300x300")
    %br
    %br
    %span.wait_text THIS PROCESS MAY TAKE A FEW MINUTES
