.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.contentBox
    .contentTitle
      %h4 Upload your Atomic Structure
    .contentData
      %p
        Models under study and not deposited to PDB yet can be analysed too. Annotations from similar entries based on BLAST sequence match will be displayed, but also customised annotations can be provided by the user. Job title (if provided) will be used to identify the model, otherwise the file name will be used.
      = form_tag({controller: "main", action: "upload"}, :multipart => true, :method => :post,id: "query_form",:style=>"max-width: 500px;") do
        %label{:style => "font-weight: bold;"} Job Title
        %small Optional
        = text_field_tag(:title, "", :placeholder => "Job Title", :class => "form-control")
        %label.d-block
          Structure file in 
          %a{:href => "http://www.wwpdb.org/documentation/file-format"}
            %strong PDB
          or
          %a{:href => "http://mmcif.wwpdb.org/"}
            %strong mmCIF
          format
        = file_field_tag(:structure_file)
        %label.d-block Upload your annotations

        = hidden_field_tag(:viewer_type, @viewerType)

        = file_field_tag(:annotations_file)
        %button.btn.btn-primary.d-block{:type => "submit"} Submit
  .wait_div{:style=>'display:none'}
    %span.wait_text PLEASE BE PATIENT
    %br
    %br
    =image_tag("loading.gif",size:"300x300")
    %br
    %br
    %span.wait_text THIS PROCESS MAY TAKE A FEW MINUTES

