- if items.present?
  .row
    - items.each_with_index do |item, index|
      - name = item[:name]
      - has_many_links = item[:links].size > 1
      - is_item_hidden = max_items && index >= max_items
      - is_image_hidden = max_images && index >= max_images
      %div{class: ["col-sm-6 col-md-3 col-lg-2 col-xl-2 item", "item-" + item[:name], is_item_hidden ? "h" : ""]}
        .subItem{"data-content" => item_info(item), "data-html" => "true", "data-placement" => "top", "data-toggle" => "popover", :title => name}
          = link_to(item[:query_url] || "#") do
            %img{:src => (item[:image_url] if !is_image_hidden), "data-src" => (item[:image_url] if is_image_hidden)}/
            %h6 #{name}
          - item[:links].each do |link|
            = link_to(link[:query_url] || "#") do
              %span{:class => ["badge badge-primary itemBadge w3-#{link[:style]}", has_many_links ? "multi" : ""]}
                %strong #{link[:title]}
