- max_items = 18

:javascript
  var proteinsData = #{@proteins_data.to_json.html_safe};
  $(function() { initLiveSearch(proteinsData, {maxItems: #{max_items}}) });

.d-flex.mt-2.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.mb-5
    .contentBox
    .alert.alert-warning.mb-5{:role => "alert"}
      %span
        %em
          Please note this is an on-going effort to collect all possible relevant information from many diverse sources in a semi-automatic way, sometimes manually. If you spot something missing, misplaced, incorrect or misbehaving, please feel free to contact us (3dbionotes@cnb.csic.es).
        %br/
    #root
      This component requires Javascript

= javascript_include_tag('covid19/build/app/2.chunk.js')
= javascript_include_tag('covid19/build/app/main.chunk.js')
= javascript_include_tag('covid19/build/app/runtime-main.js')

:javascript
  #{@log}
