:javascript
  var proteinsData = #{@proteins_data.to_json.html_safe};
  $(function() { initLiveSearch(proteinsData, {maxItems: 20}) });

.d-flex.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container
    .searchBox
      = form_tag({controller: "main", action: "home"}, :method => :post) do
        = hidden_field_tag(:viewer_type, @viewerType)
        %label.d-block.text-center Search by Entry ID
        #mainSearch.input-group.form-control-lg.md-form.form-sm.form-2.pl-0.justify-content-center
          %input.form-control.form-control-lg.my-0.py-1.amber-border{"aria-label" => "Search", :placeholder => "Uniprot accession, PDB ID, EMDB code", :name => "queryId"}/
          %i.fa.fa-search.text-grey.searchIconMain{"aria-hidden" => "true"}
    .contentBox
      .contentTitle
        %h4
          %strong Selected entries
          %br/
      .contentData
        .container-fluid.carouselContainer
          #myCarousel.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner.row.w-100.mx-auto
              - @selected_entries.each_with_index do |entry, idx|
                %div{:class => ["carousel-item", "col-md-4", idx == 0 ? "active" : nil].compact}
                  .card
                    %a{:href => entry[:query_url]}
                      %img.card-img-top.img-fluid{:alt => entry[:name], :src => entry[:image_url]}/
                      .card-body
                        %h4.card-title
                          = entry[:name]
                        %p.card-text
                          = entry[:description]
            %a.carousel-control-prev{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
              %span.carousel-control-prev-icon{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.carousel-control-next{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
              %span.carousel-control-next-icon{"aria-hidden" => "true"}
              %span.sr-only Next
    .contentBox
      .contentTitle
        %h4
          %strong SARS-CoV-2 virus proteome
          %br/
      .contentData
        .alert.alert-warning{:role => "alert"}
          %span
            %em
              Please note this is an on-going effort to collect all possible relevant information from many diverse sources in a semi-automatic way, sometimes manually. If you spot something missing, misplaced, incorrect or misbehaving, please feel free to contact us (3dbionotes@cnb.csic.es).
            %br/
        %div
          %table#proteomeTable.table
            %tbody
              %tr
                %td.w3-dark-gray.w3-center{:colspan => "11"}
                  .index1
                    %a{:href => "#R1a"} R1a
              %tr
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP1"} NSP1
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP2"} NSP2
                %td.w3-blue-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP3"} PL-Pro
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP4"} NSP4
                %td.w3-blue-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP5"} 3CL
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP6"} NSP6
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP7"} NSP7
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP8"} NSP8
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP9"} NSP9
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP10"} NSP10
                %td.w3-gray{:rowspan => "2"}
                  .index2
                    %a{:href => "#NSP11"} NSP11
                %td.w3-tag.w3-white{:colspan => "5"}
                %td.w3-tag.w3-cyan
                  .index2
                    %a{:href => "#S"} S
                %td.w3-tag.w3-white{:colspan => "2"}
                %td.w3-tag.w3-lime
                  .index2
                    %a{:href => "#M"} M
                %td.w3-tag.w3-white
                %td.w3-tag.w3-blue
                  .index2
                    %a{:href => "#NS7a"} NS7a
                %td.w3-tag.w3-white
                %td.w3-tag.w3-brown
                  .index2
                    %a{:href => "#NS8"} NS8
                %td.w3-tag.w3-white
                %td.w3-tag.w3-green
                  .index2
                    %a{:href => "#N"} N
              %tr
                %td.w3-gray
                  .index2
                    %a{:href => "#NSP12"} NSP12
                %td.w3-gray
                  .index2
                    %a{:href => "#NSP13"} NSP13
                %td.w3-gray
                  .index2
                    %a{:href => "#NSP14"} NSP14
                %td.w3-gray
                  .index2
                    %a{:href => "#NSP15"} NSP15
                %td.w3-gray
                  .index2
                    %a{:href => "#NSP16"} NSP16
                %td.w3-tag.w3-white
                %td.w3-tag.w3-amber
                  .index2
                    %a{:href => "#NS3a"} NS3a
                %td.w3-tag.w3-purple
                  .index2
                    %a{:href => "#E"} E
                %td.w3-tag.w3-white
                %td.w3-tag.w3-orange
                  .index2
                    %a{:href => "#NS6"} NS6
                %td.w3-tag.w3-white
                %td.w3-tag.w3-orange
                  .index2
                    %a{:href => "#NS7b"} NS7b
                %td.w3-tag.w3-white
                %td.w3-tag.w3-orange
                  .index2
                    %a{:href => "#NS9b"} NS9b
                %td.w3-tag.w3-white
                %td.w3-tag.w3-orange
                  .index2
                    %a{:href => "#NS14"} NS14
                %td.w3-tag.w3-white
                %td.w3-tag.w3-red
                  .index2
                    %a{:href => "#NS10"} NS10
              %tr
                %td.w3-dark-gray.w3-center{:colspan => "16"}
                  .index1
                    %a{:href => "#R1ab"} R1ab
        %p
          %span.badge.badge-primary.proteomeBadge.w3-gradient Non-structural protein (NSXx)
          %span.badge.badge-primary.proteomeBadge.w3-cyan
            %strong Spike (S)
            %br/
          %span.badge.badge-primary.proteomeBadge.w3-lime
            %strong Membrane protein (M)
            %br/
          %span.badge.badge-primary.proteomeBadge.w3-green
            %strong Nucleo protein (N)
            %br/
          %span.badge.badge-primary.proteomeBadge.w3-purple
            %strong Envelope protein (E)
            %br/
          %span.badge.badge-primary.text-truncate.proteomeBadge.w3-red
            %strong
              Hypothetical protein - Open Reading
              Frame (NS10): It is not clear yet if it is a protein
            %br/
        %h5{:style => "margin-top: 20px;margin-bottom: 9px;font-weight: bold;"}
          About the SARS-CoV-2 virus proteome
          %br/
    .proteinsHeader
      .contentTitle
        %h4.d-inline-flex
          %strong Known Proteins
          %br/
        %form#proteinSearch.float-right.d-inline-flex
          %input#search-protein.form-control{"aria-label" => "Search", :placeholder => "Live Search", :type => "text"}/
          %i.fa.fa-search.text-grey.searchIcon{"aria-hidden" => "true"}
    .contentBox.proteinBox

    .matches.h.badge.badge-primary.proteinBadge.w3-w3-green
      %span.matches-length N
      %span protein(s) matched text '
      %span.matches-text TEXT
      %span '
    .no-matches.badge.badge-primary.proteinBadge.h.w3-gray
      %span No matches for text '
      %span.matches-text TEXT
      %span '

    - @proteins_data[:proteins].each do |protein|
      %div{class: ["proteinBox", "protein", "protein-" + protein[:name]]}
        %div.contentData{id: protein[:name]}
          %span{:class => "badge badge-primary protein-name proteinBadge b-#{protein[:name]} #{protein_css_class(protein)}"}
            %strong #{protein[:name]}
            %br/
          - protein[:polyproteins].each do |polyprotein|
            %span{:class => "badge badge-primary proteinBadge b-#{polyprotein} w3-blue-gray"}
              %strong #{polyprotein}
              %br/
          %h5
            %strong
              = protein[:names].join(" | ")
            %br/
          - protein[:sections].each do |section|
            = render partial: "section", locals: {protein: protein, section: section, is_main: true}
    .contentBox
      .contentTitle
        %h4
          %strong External data sources and collaborations
          %br/
      .contentData
        %a.d-block{:href => "https://www.ebi.ac.uk/ena/pathogens/covid-19", :target => "_blank"}
          %i.fa.fa-external-link-square>
          Pathogens: EMBL-EBI relating to the COVID-19 outbreak
        %a.d-block{:href => "https://evosalut1.uv.es/", :target => "_blank"}
          %i.fa.fa-external-link-square>
          NextSpain: Spanish site
          for Nextstrain: Consortium for Genomic Epidemiology of Pathogens.
        %a.d-block{:href => "https://viralzone.expasy.org/8996", :target => "_blank"}
          %i.fa.fa-external-link-square>
          SARS coronavirus 2
          (SARS-CoV-2) proteome
        %a.d-block{:href => "https://github.com/thorn-lab/coronavirus_structural_task_force", :target => "_blank"}
          %i.fa.fa-external-link-square>
          A. Thon's Coronavirus Structural Task Force
        %a.d-block{:href => "https://covid-19.uniprot.org/uniprotkb?query=*", :target => "_blank"}
          %i.fa.fa-external-link-square>
          Latest available pre-release UniProtKB
          data for the SARS-CoV-2
        %a.d-block{:href => "https://elixir-europe.org/covid-19-resources", :target => "_blank"}
          %i.fa.fa-external-link-square>
          ELIXIR support for SARS-CoV-2 research
        %a.d-block{:href => "https://www.ebi.ac.uk/covid-19", :target => "_blank"}
          %i.fa.fa-external-link-square>
          EMBL-EBI COVID-19
          Portal
        %a.d-block{:href => "https://viralzone.expasy.org/8996", :target => "_blank"}
          %i.fa.fa-external-link-square>
          SARS
          coronavirus 2 (SARS-CoV-2) proteome
