- max_items = 18

:javascript
  var proteinsData = #{@proteins_data.to_json.html_safe};
  $(function() { initLiveSearch(proteinsData, {maxItems: #{max_items}}) });

.d-flex.mt-2.d-sm-flex.d-md-flex.d-lg-flex.d-xl-flex.justify-content-center.justify-content-sm-center.justify-content-md-center.justify-content-lg-center.justify-content-xl-center
  .container.mb-5.pt-5
    #root
      .d-flex.flex-column.justify-content-center.align-items-center
        %p.text-center
          Loading COVID-19 Structural Hub...
        .spinner-border{"role"=>"status"}
      
= javascript_include_tag('covid19/build/app/2.chunk.js')
= javascript_include_tag('covid19/build/app/main.chunk.js')
= javascript_include_tag('covid19/build/app/runtime-main.js')

:javascript
  #{@log}
