%html(lang="en")
  %head
    :javascript
      var imported_flag = #{@imported_flag};
    = stylesheet_link_tag('annotations_viewer/uniprot_viewer_main.css')
    = stylesheet_link_tag('annotations_viewer/extend_style.css')
    = stylesheet_link_tag('annotations_viewer/features_analysis.css')
    = stylesheet_link_tag('annotations_frame/annotations_style.css')
    = stylesheet_link_tag('global_tools/sweetalert.css')
    = stylesheet_link_tag('/font-awesome/css/font-awesome.min.css')

    = javascript_include_tag('annotations_viewer/featuresAnalysis.bundle')
    = javascript_include_tag('annotations_viewer/analyse_data')
    = javascript_include_tag('annotations_viewer/extendProtVista.bundle')
    = javascript_include_tag('annotations_viewer/extend_data')
    = javascript_include_tag('annotations_viewer/protvista')
    = javascript_include_tag('annotations_frame/annotations_lib')
    = javascript_include_tag('annotations_frame/annotations_inter')
    = javascript_include_tag('annotations_frame/annotations_init')
    = javascript_include_tag('global_tools/sweetalert.min')

  %body#body
    %div.body_div{:style=>"position:absolute;left:8px;right:0px;top:0px;bottom:0px;"}
      #loading{:style=>'width:100%;height:100%;display:none;'}
        =image_tag("loading.gif",size:"200x200",:style=>"display:block;margin:auto;position:relative;top:50%;transform:translateY(-50%);")
      = yield
