%html(lang="en")
  %head
    %meta{:content => "text/html; charset=utf-8", 'http-equiv' => "Content-Type"}
    %meta{:name => "description", :content => "Web site that displays sequence-associated annotations combining them into a structural view"}
    %meta{:name => "keywords", :content => "bioinformatics, proteins, PDB, emdb, Uniprot"}
    %title= title
    =csrf_meta_tag
    = stylesheet_link_tag('sequence_viewer/biojs_sequence.css')
    = javascript_include_tag('sequence_viewer/jquery-1.4.2.min')
    = javascript_include_tag('sequence_viewer/jquery-ui-1.8.2.custom.min')
    = javascript_include_tag('sequence_viewer/Biojs')
    = javascript_include_tag('sequence_viewer/Biojs.Sequence_alignment')
    = javascript_include_tag('sequence_viewer/Biojs.Tooltip')
    = javascript_include_tag('sequence_frame/sequence_lib')
    = javascript_include_tag('sequence_frame/sequence_inter')
    = javascript_include_tag('sequence_frame/sequence_init')


  %body{:id => "body"}
    %div{:id => "main"}
      = yield
