%html(lang="en")
  %head
    %meta{:content => "text/html; charset=utf-8", 'http-equiv' => "Content-Type"}
    %meta{:name => "description", :content => "Web site that displays sequence-associated annotations combining them into a structural view"}
    %meta{:name => "keywords", :content => "bioinformatics, proteins, PDB, emdb, Uniprot"}
    %title= title
    =csrf_meta_tag
    =render 'layouts/stylesheets'
    = stylesheet_link_tag('main.css')
    = stylesheet_link_tag('frames.css')
    = javascript_include_tag('sweetalert.min')
    = javascript_include_tag('iframeResizer.contentWindow.min')
    = javascript_include_tag('http://www.google.com/jsapi')
    = javascript_include_tag('ownPrototype')
    = javascript_include_tag('domain_graphics')
    = #javascript_include_tag('http://pfam.xfam.org/static/javascripts/domain_graphics.js')
    = javascript_include_tag('canvas.text')
    = javascript_include_tag('optimer-bold-normal')
    = javascript_include_tag('prototip')
    = javascript_include_tag('styles')
    /[if IE]
      = javascript_include_tag('excanvas')
      = javascript_include_tag('firebug-lite-compressed')
    = javascript_include_tag('ownFrame')
    = stylesheet_link_tag('tooltipster.css')
    = stylesheet_link_tag('themes/tooltipster-light.css')
    = javascript_include_tag('jquery.tooltipster.min')
  %body{:id => "body"}
    %div{:id => "main"}
      = yield
