%html(lang="en")
  %head
    %meta{:content => "text/html; charset=utf-8", 'http-equiv' => "Content-Type"}
    %meta{:name => "description", :content => "Web site that displays sequence-associated annotations combining them into a structural view"}
    %meta{:name => "keywords", :content => "bioinformatics, proteins, PDB, emdb, Uniprot"}

    = stylesheet_link_tag('ppi_frame/ppi_style')
    = stylesheet_link_tag('global_tools/sweetalert.css')

    = javascript_include_tag('ppi_frame/cytoscape.min')
    = javascript_include_tag('ppi_frame/rhill-voronoi-core')
    = javascript_include_tag('ppi_frame/foograph')
    = javascript_include_tag('ppi_frame/ppi_lib')
    = javascript_include_tag('ppi_frame/ppi_init')
    = javascript_include_tag('ppi_frame/ppi_inter')
    = javascript_include_tag('ppi_frame/graph_class')
    = javascript_include_tag('interface_viewer/interface_viewer.bundle')
    = javascript_include_tag('global_tools/sweetalert.min')

  %body{:id => "body"}
    =yield
