%html#parent(lang="en")
  %head
    %meta{:content => "text/html; charset=utf-8", 'http-equiv' => "Content-Type"}
    %meta{:name => "description", :content => "Web site that displays sequence-associated annotations combining them into a structural view"}
    %meta{:name => "keywords", :content => "bioinformatics, proteins, PDB, emdb, Uniprot"}
    %title= title
    = csrf_meta_tag
    = stylesheet_link_tag('main_frame/main_style.css')
    = stylesheet_link_tag('main_frame/upload_data.css')
    = stylesheet_link_tag('main_frame/import_proteins.css')
    = stylesheet_link_tag('main_frame/fontello.css')
    = stylesheet_link_tag('main_frame/sweetalert.css')

    = javascript_include_tag('main_frame/websocket')
    = javascript_include_tag('application')
    = javascript_include_tag('main_frame/sweetalert.min')
    = javascript_include_tag('main_frame/main_lib')
    = javascript_include_tag('main_frame/upload_data')
    = javascript_include_tag('main_frame/import_proteins')
    = javascript_include_tag('main_frame/main_inter')
    = javascript_include_tag('main_frame/main_init')
  %body.parentBody{:id => "body"}
    %div.filter_screen
    %div.jsonp_info
      %div
        LOADING DATA
        %br
        PLEASE WAIT
        %br
        %br
        %img{:src=>"/images/loading_em.gif"}
    = yield
