%html(lang="en")
  %head
    %title 3DBionotes-WS
    %meta{:content => "An ELIXIR Recommended Interoperability Resource", :name => "description"}/
    %meta{:content => "Bioinformatics,Biology,Biotechnology,CoVid-19,Structural Biology,Annotations,Structural Features,Genomic Variants,Proteomics,Functional domains", :name => "keywords"}/
    %meta{:content => "Biocomputing Unit - CNB", :name => "author"}/
    %meta{:content => "Biocomputing Unit - CNB", :name => "copyright"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "english", :name => "language"}/
    %meta{:content => "text/html", "http-equiv" => "content-type"}/
    %meta{:content => "”index,follow”", :name => "”robots”"}/
    %meta{:content => "telephone=yes", :name => "format-detection"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag('webserver/webserver_style.css')
    = stylesheet_link_tag('application')
    = stylesheet_link_tag("https://fonts.googleapis.com/css?family=Lato:400,700,400italic&amp;display=swap")
    = stylesheet_link_tag('webserver/main.css')
    = stylesheet_link_tag('webserver/viewer.css')
    = stylesheet_link_tag('webserver/ekko-lightbox.css')
    = stylesheet_link_tag('/font-awesome/css/font-awesome.min.css')

    = javascript_include_tag("https://www.googletagmanager.com/gtag/js?id=UA-222241504-1")
    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')
    = javascript_include_tag('application')
    = javascript_include_tag('webserver/ekko-lightbox.min')
    = javascript_include_tag('webserver/lightbox')
    = javascript_include_tag('webserver/carousel')
    = javascript_include_tag('webserver/popover')
    = javascript_include_tag('webserver/collapse')
    = javascript_include_tag('webserver/imagemapResizer')
    = javascript_include_tag('covid19')
  %body
    - if @layout_options && (layout_header = @layout_options[:header])
      = render partial: layout_header
    - else
      = render partial: "layouts/header"

    = yield

    - unless @skip_footer
      = render partial: "layouts/footer"
