%html(lang="en")
  %head
    = stylesheet_link_tag('webserver/webserver_style.css')
    = stylesheet_link_tag('application')
    = stylesheet_link_tag("https://fonts.googleapis.com/css?family=Lato:400,700,400italic&amp;display=swap")
    = stylesheet_link_tag('webserver/footer-dark.css')
    = stylesheet_link_tag('webserver/main.css')

    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')
    = javascript_include_tag('application')
  %body
    %header.mainHeader.d-flex.align-items-center
      .container
        %img#mainLogo.d-block.float-md-left.float-lg-left.float-xl-left.mx-auto.mx-sm-auto{:src => "/assets/3DBionotesLogo.jpg"}/
        #partners.text-right.d-block.float-md-right.float-lg-right.float-xl-right.mx-sm-auto
          .d-flex.d-sm-flex.justify-content-center.justify-content-sm-center.justify-content-md-end.justify-content-lg-end.justify-content-xl-end
            %img{:src => "/assets/inbelixir.png", :style => "max-width: 135px;"}/
            %img{:src => "/assets/instruct-eric-logo-noline.png", :style => "max-width: 122px;"}/
          .d-flex.d-sm-flex.justify-content-center.justify-content-sm-center.justify-content-md-end.at-title-link
            %p
              %a{:href => "#"}> Biocomputing Unit
               @
              %a{:href => "#"} CNB
              \-
              %a{:href => "#"} CSIC
    %nav#menuBar.navbar.navbar-dark.navbar-expand-md.bg-primary
      .container
        %a.navbar-brand.d-print-none.d-md-none.d-lg-none.d-xl-none{:href => "#"}
          %strong 3DBionotes-WS
        %button.navbar-toggler{"data-target" => "#navcol-1", "data-toggle" => "collapse"}
          %span.sr-only Toggle navigation
          %span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse.navbarLinks
          %ul.nav.navbar-nav.mx-auto
            = menu_item("HOME", {controller: "webserver", action: "home"})
            = menu_item("CoVid-19", {controller: "covid19", action: "index",})
            = menu_item("SUBMIT", {controller: "webserver", action: "submit"})
            = menu_item("NETWORK", {controller: "webserver", action: "network"})
            = menu_item("QUERY", {controller: "webserver", action: "query"})
            = menu_item("API", {controller: "webserver", action: "api"})
            = menu_item("HELP", {controller: "webserver", action: "help"})
            = menu_item("ABOUT US", "http://biocomputingunit.es/")

    = yield

    .bg-primary.footer-dark#mainFooter
      %footer
        .container.text-center
          .row
            .col
              %h4
                %strong
                  3DBIONOTES-
                  %em WS
                %br/
              %p
                %strong An ELIXIR Recommended Interoperability Resource
                %br/
              .footerLinks
                %p
                  %a{:href => "#"}> Biocomputing Unit
                   @
                  %a{:href => "#"} CNB
                  \-
                  %a{:href => "#"} CSIC
