%html(lang="en")
  %head
    = stylesheet_link_tag('webserver/webserver_style.css')
    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')
  %body
    .logo
      = image_tag("3dbionotes_ws_logo.png")
    .who
      %a{:href=>"http://biocomputingunit.es", :target=>"_blank"} Biocomputing Unit
      @
      %a{:href=>"http://www.cnb.csic.es/index.php/en", :target=>"_blank"} CNB
      \- 
      %a{:href=>"http://www.csic.es/en", :target=>"_blank"} CSIC
    .options
      %table
        %tr
          %td 
            %a{:href=>"/ws/home"} HOME
          %td#option_covid
            %a{:href=>"/ws/cv19"} CoVid-19
          %td 
            %a{:href=>"/ws/submit"} SUBMIT
          %td 
            %a{:href=>"/ws/network"} NETWORK
          %td 
            %a{:href=>"/ws/database"} QUERY 
          %td 
            %a{:href=>"/ws/api"} API
          %td 
            %a{:href=>"/ws/help"} HELP
          %td 
            %a{:href=>"http://biocomputingunit.es", :target=>"_blank"} ABOUT US
    = yield
    .footer
      3DBIONOTES web-server was developed and is maintained at the 
      %a{:href=>"http://biocomputingunit.es/", :target=>"_blank"} Biocomputing Unit 
      \- 
      %a{:href=>"http://www.cnb.csic.es/index.php/en", :target=>"_blank"} CNB 
      by Joan Segura Mora. Citing the web-server
      %a{:href=>"https://doi.org/10.1093/bioinformatics/btx483", :target=>"_blank", :style=>"font-weight:bold;"} ?
 
