%html(lang="en")
  %head
    %title 3DBionotes-WS
    %meta{:content => "An ELIXIR Recommended Interoperability Resource", :name => "description"}/
    %meta{:content => "Bioinformatics,Biology,Biotechnology,CoVid-19", :name => "keywords"}/
    %meta{:content => "Biocomputing Unit - CNB", :name => "author"}/
    %meta{:content => "Biocomputing Unit - CNB", :name => "copyright"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "english", :name => "language"}/
    %meta{:content => "text/html", "http-equiv" => "content-type"}/
    %meta{:content => "”index,follow”", :name => "”robots”"}/
    %meta{:content => "telephone=yes", :name => "format-detection"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag('webserver/webserver_style.css')
    = stylesheet_link_tag('application')
    = stylesheet_link_tag("https://fonts.googleapis.com/css?family=Lato:400,700,400italic&amp;display=swap")
    = stylesheet_link_tag('webserver/main.css')
    = stylesheet_link_tag('webserver/ekko-lightbox.css')
    = stylesheet_link_tag('/font-awesome/css/font-awesome.min.css')

    = javascript_include_tag('webserver/webserver_lib')
    = javascript_include_tag('webserver/webserver_init')
    = javascript_include_tag('application')
    = javascript_include_tag('webserver/ekko-lightbox.min')
    = javascript_include_tag('webserver/lightbox')
    = javascript_include_tag('webserver/carousel')
    = javascript_include_tag('webserver/popover')
    = javascript_include_tag('webserver/collapse')
    = javascript_include_tag('covid19')

  %body
    - if @layout_options && layout_header = @layout_options[:header]
      = render partial: layout_header
    - else
      %header.mainHeader.d-flex.align-items-center
        .container.text-center.text-sm-center.text-md-center.text-lg-left.text-xl-left
          %img#mainLogo{:src => "/assets/3DBionotesLogo.jpg"}/
          #partners.d-inline-block.float-md-right.float-lg-right.float-xl-right
            %img.partnerLogo{:src => "/assets/inbelixir.png"}/
            %img.partnerLogo{:src => "/assets/instruct-eric-logo-noline.png"}/

    %nav#menuBar.navbar.navbar-dark.navbar-expand-md.bg-primary
      .container
        %a.navbar-brand.d-print-none.d-md-none.d-lg-none.d-xl-none{:href => "#"}
          %strong 3DBionotes-WS
        %button.navbar-toggler{"data-target" => "#navcol-1", "data-toggle" => "collapse"}
          %span.sr-only Toggle navigation
          %span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse.navbarLinks
          %ul.nav.navbar-nav.mx-auto
            = menu_item("HOME", {controller: "webserver", action: "home"})
            = menu_item("CoVid-19", {controller: "covid19", action: "index"}, css_class: "menuHL")
            = menu_item("SUBMIT", {controller: "webserver", action: "submit"})
            = menu_item("NETWORK", {controller: "webserver", action: "network"})
            = menu_item("QUERY", {controller: "webserver", action: "query"})
            = menu_item("API", {controller: "webserver", action: "api"})
            = menu_item("HELP", {controller: "webserver", action: "help"})
            = menu_item("CONTACT US", "mailto:a@b.es", target: "_blank")

    = yield

    .bg-primary.footer-dark#mainFooter
      %footer
        .container.text-center
          .row
            .col
              %h4
                %strong
                  3DBIONOTES-
                  %em WS
                %br/
              %p
                %strong An ELIXIR Recommended Interoperability Resource
                %br/
              .footerLinks
                %p
                  %a{:href => "http://biocomputingunit.es/", :target => "_blank"}> Biocomputing Unit
                   @
                  %a{:href => "http://www.cnb.csic.es/index.php/en", :target => "_blank"} CNB
                  \-
                  %a{:href => "http://www.csic.es/en", :target => "_blank"} CSIC
              %p
                %strong 3DBIONOTES web-server was developed and is maintained at the Biocomputing Unit - CNB
                %br/
                %strong Citing the web-server 
                %a{:href => "https://doi.org/10.1093/bioinformatics/btx483", :target => "_blank"}
                  %i.fa.fa-external-link
